body {
  background-color: #E5E5E5;
  font-size: rem-calc(16px);

  a {
    color: $linkColor;
    transition-duration: .3s;
    &:hover {
      color: $linkHoverColor;
      transition-duration: .3s;
    }
  }

  button {
    outline: none;
  }
}

#my-page, #wrapper {
  position: relative;
  @media all and (min-width: 1921px){
    width: 1920px;
    margin: 0 auto;
  }
  background-color: #ffffff;
}

figure {
  margin: 0;
}

#scroll_to_top {
  display: none;
  position: fixed;
  bottom: rem-calc(50px);
  margin-left: rem-calc(10px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: $linkColor;
  opacity: .5;
  z-index: 999999;
  @include media-breakpoint-up(lg) {
    width: 50px;
    height: 50px;
    bottom: rem-calc(50px);
  }
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -3px;
    width: 14px;
    height: 14px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(-45deg);
    @include media-breakpoint-up(lg) {
      margin-left: -8px;
      margin-top: -3px;
      width: 16px;
      height: 16px;
    }
  }
}

#scroll_to_top.show {
  display: block!important;
}

.separator {
  background-color: #87bd27;
  color: #ffffff !important;
  text-align: center;
}
