$primaryColor: #87bd27;
$burgerColor: #4c717e;
$primaryColorOpacity: rgba(135, 189, 39, 0.1);
$teaserWidget: #627880;
$backgroundOpacity: rgba(76,113,126,.1);
// Font-colors:
$fontColor: #1C323A;
$titleColor: #1C323A;
$white: #ffffff;


// Backgrounds colors:
$backgroundColor: #ffffff;
$backgroundGray: rgba(76,113,126,.05);
$secondaryColor: #1e71b8;
$dominant: #1c323a;
$gradientGreen: #3aaa35;
$gradientBlue: #004e9e;


//background
$backgroundGray: rgba(76,113,126,.05);


/** link color **/
$linkColor: #87bd27;
$linkHoverColor: #3aaa35;



//GLOBAL

$white: #ffffff;
$primaryGreen: #87bd27;
$secondaryGreen: #3AAA35;
$dominant: #1c323a;
$dominantSecondary: #627880;
$tiflis: #EDF1F2;

/*** mainnav ***/
$mainnav_background: rgba(98, 120, 128, 0.6);


/*** title_block ***/
$title_block: #707070;


/*** footer ***/
$footer__contacts: #EDF1F2;
$footer__newsletter: #87bd27;


/*** social_sticky ***/
$social_sticky: #B5B5B5;

/*** article_content ***/
$article_content__border: #B5B5B5;
$article_content__text: #707070;

/*** article_checklist ***/
$article_checklist_border: #707070;


