@mixin button {
  display: block;
  width: fit-content;
  padding: .71429rem 1.42857rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: $primaryGreen;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.33);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.33);
  cursor: pointer;
  -webkit-transition-duration: .7s;
  -o-transition-duration: .7s;
  transition-duration: .7s;

  &:hover {
    text-decoration: none;
    color: #1c323a;
    transform: scale(.9);
    transition-duration: .7s;
  }
}

@mixin logo-size {
  width: rem-calc(70px);
  height: rem-calc(20px);

  padding-top: rem-calc(13px);

  @media all and (min-width: 768px) {
    width: rem-calc(75px);
    height: rem-calc(25px);
  }

  @media all and (min-width: 992px) {
    width: rem-calc(105px);
    height: rem-calc(32px);
  }
}

@mixin footerContactsTitle {
  font-size: rem-calc(14px);
  font-weight: 700;
  color: $fontColor;
}


@mixin container-padding-top {
  padding-top: rem-calc(30px);
  @include media-breakpoint-up(md){
    padding-top: rem-calc(50px);
  }
}

@mixin  container-padding-bottom {
  padding-bottom: rem-calc(30px);
  @include media-breakpoint-up(md) {
    padding-bottom: rem-calc(50px);
  }
}

@mixin conteiner-padding {
  padding: rem-calc(20px);
}

@mixin h2-title {
  margin-bottom: rem-calc(20px);
  font-size: rem-calc(19px);
  color: $fontColor;
  text-transform: uppercase;
}

@mixin main-description {
  font-size: rem-calc(14px);
  color: $fontColor;
}

@mixin widget-title {
  color: $white;
  font-weight: 700;
  font-size: rem-calc(16px);
  text-transform: uppercase;
}

@mixin widget-description {
  font-size: rem-calc(14px);
  color: $white;
}

@mixin button {
  display: block;
  padding: rem-calc(10px) rem-calc(20px);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $primaryColor;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.33);
  //border-radius: rem-calc(5px);
  cursor: pointer;
  transition-duration: 0.7s;

  &:hover {
    text-decoration: none;
    color: $fontColor;
    transform: scale(0.9);
    transition-duration: 0.7s;
  }
}

@mixin content_button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 20px 10px 60px;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $primaryGreen;
  background-color: $primaryGreen;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: $secondaryGreen;
    mix-blend-mode: multiply;
    opacity: 0.55;
    transition-duration: .7s;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
    &::before {
      width: 100%;
      transition-duration: .7s;
    }
  }

  img {
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
  }

  span {
    position: relative;
  }
}

/* MORE NEWS BUTTON */
@mixin more_button {
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: $primaryGreen;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: $secondaryGreen;
    mix-blend-mode: multiply;
    opacity: 0.55;
    transition-duration: .7s;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 5px;
    width: 15px;
    height: 15px;
    margin-top: -7px;
    box-sizing: border-box;
    border-top: 2px solid #87BD27FF;
    border-right: 2px solid #87BD27FF;
    transform: rotate(45deg);
  }

  &:hover {
    text-decoration: none;
    transition-duration: .7s;

    &::before {
      width: 100%;
      transition-duration: .7s;
    }
  }

  a {
    position: relative;
    display: block;
    width: fit-content;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    -webkit-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;

    &:hover {
      text-decoration: none;
    }
  }
}



// BACK BUTTON
@mixin back_button {
  a {
    display: block;
    position: relative;
    width: rem-calc(40px);
    height: rem-calc(40px);
    background-color: #B5B5B5;
    transition-duration: 0.3s;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: rem-calc(15px);
      margin-top: -10px;
      width: 20px;
      height: 20px;
      border-top: 4px solid #ffffff;
      border-left: 4px solid #ffffff;
      transform: rotate(-45deg);
      transition-duration: 0.3s;
    }

    &:hover {
      transition-duration: 0.7s;
      &::before {
        border-color: $primaryGreen;
        transition-duration: 0.3s;
      }
    }
  }
}

// JOB_PAGE, Landingpage //

@mixin big_link {
  width: 100%;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 300;
  background-color: $backgroundGray;
  a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 15px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      right: 20px;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      box-sizing: border-box;
      border-top: 4px solid $primaryGreen;
      border-right: 4px solid $primaryGreen;
      transform: rotate(45deg);
      transition-duration: 0.5s;
    }

    &:hover {
      text-decoration: none;
      &::before {
        border-color: $linkHoverColor;
      }
    }
  }
}

/* styled_list */
@mixin styled_list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: rem-calc(10px);
      padding-left: rem-calc(25px);
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        content: "";
        top: rem-calc(3px);
        left: 0;
        width: rem-calc(16px);
        height: rem-calc(16px);
        box-sizing: border-box;
        border: rem-calc(2px) solid rgba(98, 120, 128, 0.5);
      }

      &::after {
        position: absolute;
        content: "";
        top: -1px;
        left: 0;
        width: 20px;
        height: 12px;
        border-bottom: 2px solid $primaryColor;
        border-left: 2px solid $primaryColor;
        transform: rotate(-45deg);
      }
    }
  }
}

@mixin card_shadow {
  box-shadow:
          0px 0px 1.2px rgba(0, 0, 0, 0.002),
          0px 0px 2.7px rgba(0, 0, 0, 0.003),
          0px 0px 4.6px rgba(0, 0, 0, 0.004),
          0px 0px 6.9px rgba(0, 0, 0, 0.004),
          0px 0px 10px rgba(0, 0, 0, 0.005),
          0px 0px 14.2px rgba(0, 0, 0, 0.006),
          0px 0px 20.1px rgba(0, 0, 0, 0.006),
          0px 0px 29.2px rgba(0, 0, 0, 0.007),
          0px 0px 45px rgba(0, 0, 0, 0.008),
          0px 0px 80px rgba(0, 0, 0, 0.01);
}
