.ce_text {
  h1,h2,h3,h4,h5,h6 {
    color: $title_block;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
  }

  strong {
    font-weight: 500;
    color: $dominant;
  }
  h2 {
    font-size: rem-calc(20px);
  }
  h3 {
    font-size: rem-calc(18px);
  }
  h4 {
    font-size: rem-calc(16px);
  }
  h5 {
    font-size: rem-calc(14px);
  }
  h6 {
    font-size: rem-calc(12px);
  }

  @include media-breakpoint-up(lg) {
    h2 {
      font-size: rem-calc(22px);
    }
    h3 {
      font-size: rem-calc(20px);
    }
    h4 {
      font-size: rem-calc(18px);
    }
    h5 {
      font-size: rem-calc(16px);
    }
    h6 {
      font-size: rem-calc(14px);
    }

  }
}

@media all and (max-width: 475px) {
  
}