.footer {
  padding-top: rem-calc(150px);
  &__contacts {
    padding: rem-calc(20px) 0;
    background-color: $footer__contacts;


    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }

    &_description {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      padding: rem-calc(20px) 0 rem-calc(5px) 0;
      &_title {
        margin-bottom: rem-calc(5px);
        text-align: center;
      }

      &_description {
        margin: 0 0 rem-calc(15px) 0;
        text-align: center;
      }
    }
  }
  .inside {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1C323A;
  }

  &__newsletter {
    padding: rem-calc(10px) 0;
    background-color: $footer__newsletter;
    &_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    li {
      margin-bottom: rem-calc(5px);
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        margin-right: rem-calc(20px);
        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      color: #ffffff;
      text-decoration: none;
      img {
        width: rem-calc(24px);
        margin-right: rem-calc(5px);
      }
      &:hover {
        opacity: .7;
        color: #ffffff;
      }
    }
  }
  &__description_title {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 38px;
      height: 38px;
      background-image: url("../images/svg/Services icons/Footer_UnserenächstenTermine.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      text-align: center;
      &::before {
        content: none;
      }
    }
  }
  &__description {
    margin-bottom: rem-calc(30px);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    h4 {
      a {
        color: #ffffff;
      }
    }

    ul {
      margin: 0 0 rem-calc(10px) 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: rem-calc(10px);

        a {
          color: #ffffff;
        }

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 5px;
          height: 2px;
          margin-top: -2px;
          background-color: #ffffff;
        }
      }
    }
    .empty {
      font-size: 20px;
      color: #ffffff;

    }
  }

}

.footer-nav {
  &__title {
    font-size: 1.35714rem;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  .mod_eventlist.footer__description {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: #1C323A;
    .layout_teaser {
      background: none;
      @include media-breakpoint-up( lg ) {
        padding-left: 40px;
      }
    }
    h2 {
      font-family: "Roboto Slab", serif;
      font-size: rem-calc(16px);
      @include media-breakpoint-down(md) {
        text-align: center;
      }

      a {
        color: #fff;
        transition-duration: .3s;
        &:hover {
          color: $linkHoverColor;
          text-decoration: none;
          transition-duration: .3s;
        }
      }
    }
  }

  &__tag {
    margin-bottom: rem-calc(30px);
    @include media-breakpoint-up(lg) {
      padding-top: rem-calc(30px);
    }
    a {
      color: #ffffff;
    }
  }

  &__partners_description {
    color: #ffffff;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 10px;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 5px;
          height: 2px;
          background-color: #ffffff;
        }
      }
    }
  }

  &__partners_additional-text {
    p {
      margin: 0;
      padding: 5px;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }


  nav {
    @media all and (max-width: 992px) {
      margin-bottom: 30px;
    }
    ul {
      @media all and (max-width: 992px) {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      margin: 0;
      padding: 0;
      list-style: none;
    }

    li.kontakt-page {
      margin-bottom: 30px;
    }

    a {
      color: #87bd27;
      transition-duration: 0.7s;
      &:hover {
        text-decoration: none;
        color: #ffffff;
        transition-duration: 0.7s;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    color: #87bd27;
    transition-duration: 0.7s;
    &:hover {
      text-decoration: none;
      color: #ffffff;
      transition-duration: 0.7s;
    }
  }

  &__partners {
    align-items: center;
    margin-bottom: 15px;
    &-link {
      display: block;
      margin-right: 10px;
      padding: 5px;
      background-color: #ffffff;
      border-radius: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__social {
    &-link {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .event {
    width: 100%;
  }
}