.form_registration {
  margin-bottom: rem-calc(30px);
  padding: rem-calc(20px);
  color: #ffffff;
  background-color: $primaryGreen;

  &__title {
    margin-bottom: rem-calc(30px);
    text-align: center;
    font-size: rem-calc(22px);
    color: #ffffff;
  }

  .fieldset_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(20px);

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .widget-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: rem-calc(20px);

      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      label {
        margin-bottom: rem-calc(2px);
      }
    }
  }

  input, textarea {
    border: 1px solid #B5B5B5;
  }

  textarea {
    width: 100%;
  }

  &__button button {
    width: -moz-fit-content;
    width: fit-content;
    padding: rem-calc(5px) rem-calc(10px);
    border: none;
    background-color: #B5B5B5;
    color: #ffffff;
    text-transform: uppercase;
    transition-duration: 0.7s;

    &:hover {
      transform: scale(0.95);
      transition-duration: 0.7s;
    }
  }
}