.form-anfrage {
  @media all and (min-width: 768px) {
    &__wrapper {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    &__input-container {
      width: 100%;
    }

    div.form-anfrage__textarea {
      height: 100%;
    }

    textarea.form-anfrage__textarea {
      height: calc(100% - 40px);
    }
  }
  div.form-anfrage__input,
  div.form-anfrage__textarea {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    label {
      margin-bottom: 0;
      font-size: 16px;
    }

    input, textarea {
      padding-left: 5px;
      border: 1px solid #4C717E;
      //border-radius: 3px;
    }
  }

  div.form-anfrage__input {
    margin-bottom: 15px;
  }
  div.form-anfrage__textarea {
    margin-bottom: 50px;
  }

  select.form-anfrage__input {
    padding: rem-calc(10px);
  }


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    margin: 0;
    padding: 0 0 0 10px;

    p {
      margin: 0;
      padding: 0;
    }

    a {
      color: #87bd27;
      text-decoration: none;
    }
  }
  div.form-anfrage__button {
    padding: 15px;
  }
  button.form-anfrage__button {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    transition-duration: 0.7s;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #3AAA35;
      transition-duration: .7s;
      z-index: -1;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #87bd27;
      z-index: -2;
    }
    &:hover {
      &::after {
        width: 100%;
        transition-duration: .7s;
      }
    }
  }
}

.news-reader {
  button.form-anfrage__button {
    background-color: #87bd27;
    transition-duration: .7s;
    &:hover {
      transform: scale(1);
    }
  }
}