.header {
  &__container {
    position: sticky;
    top: 0;
    //box-shadow: 0 5px 10px 0 rgba(0,0,0,.33);
    z-index: 99999;
    @include media-breakpoint-down(lg) {
      background-color: $white;
      box-shadow: $shadow;
    }
  }

  &__logo-container {
    @include logo-size;
  }

  &__mobilemenu-container {
    .mmenu__open-button {
      color: $burgerColor;

      &:active {
        color: $burgerColor;
      }
    }
  }

  /*** Top Kontakte ***/
  &__contacts {
    padding: rem-calc(7px) 0;
    background-color: $primaryGreen;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      li {
        margin-right: rem-calc(10px);
        &:last-child {
          margin-right: 0;
        }
        @include media-breakpoint-up(lg) {
          margin-right: rem-calc(20px);
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      img {
        width: rem-calc(20px);
        margin-right: rem-calc(5px);
      }
      span {
        @media all and (max-width: 375px) {
          font-size: 12px;
        }
        @media all and (min-width: 375px) and (max-width: 424px){
          font-size: 14px;
        }
      }
      &:hover {
        opacity: .7;
        color: #ffffff;
      }
    }
  }
}

.header-block {
  background-image: linear-gradient(to bottom, black 0%, transparent 100%);
  p {
    margin-bottom: 10px;
  }

  height: 700px;
}

.header-shadow {
  background-color: #1C323A;
}

.subpage-header {
  height: 500px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  max-width: none;

  @media all and (max-width: 1919px) {
    padding-bottom: 60px;

    background-position: -110px center;

    p {
      margin-bottom: 10px;
    }
  }

  @media all and (min-width: 1023px) {
    background-position: bottom center;
  }

}

.header__top {
  padding: rem-calc(5px) 0;
  background-color: #87bd27;

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    margin-right: rem-calc(20px);
    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    transition-duration: 0.7s;

    &:hover {
      color: #ffffff;
      transition-duration: 0.7s;
    }

    img {
      margin-right: rem-calc(5px);
    }
  }


}