.job_form {
  display: none;
  padding: 50px 20px;
  background-color: $backgroundGray;
  .message.ajaxconfirm {
	h1,h2,h3,h4,h5,h6 {
	  @include h2-title;
	  font-family: "Roboto Slab", serif;
	  color: $title_block;
	  text-align: center;
	}
  }
  .explanation {
	h1,h2,h3,h4,h5,h6 {
	  @include h2-title;
	  margin-bottom: 48px;
	  font-family: "Roboto Slab", serif;
	  color: $title_block;
	  text-align: center;
	}
  }
  fieldset {
	margin-bottom: 20px;
	@include media-breakpoint-up( lg ) {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	}
	.widget-text {
	  &:last-child {
		margin-right: 0;
	  }
	}
  }

  .widget-text {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-right: 20px;
	label {
	  margin-bottom: 3px;
	  span.mandatory {
		padding-left: 3px;
		color: red;
	  }
	}
	input {
	  padding: 5px;
	  border: 1px solid $primaryGreen;
	  border-radius: 0;
	}
	&.job_form__subject {
	  margin-bottom: 20px;
	}
	p.error {
	  margin-bottom: 3px;
	  color: red;
	  font-weight: 700;
	  text-transform: uppercase;
	}
  }
  .widget-textarea {
	display: flex;
	flex-direction: column;
	textarea {
	  padding: 10px;
	  border: 1px solid $primaryGreen;
	  border-radius: 0;
	}
  }

  .qq-upload-button {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	padding: 15px 25px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	background: none;
	color: #fff;
	border: none;
	cursor: pointer;
	transition-duration: 0.7s;
	&::after {
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  width: 0;
	  height: 100%;
	  background-color: #3AAA35;
	  transition-duration: .7s;
	  z-index: -1;
	}
	&::before {
	  position: absolute;
	  content: "";
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #87bd27;
	  z-index: -2;
	}
	&:hover {
	  color: #fff;
	  text-decoration: none;
	  background: none;
	  &::after {
		width: 100%;
		transition-duration: .7s;
	  }
	}
  }

  .widget-submit {
	button {
	  @include more_button;
	  border: none;
	  color: #ffffff;
	  text-transform: uppercase;
	}
  }

  .widget-captcha {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
	input {
	  margin-bottom: 3px;
	  border: 1px solid $primaryGreen;
	  border-radius: 0;
	}
  }
}