

.mainnav__logo-container,
.mainnav__partner-item {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.33);
}

.mainnav__list-container ul.level_1 li {
  margin-right: rem-calc(20px);
  font-weight: 300;

  &:last-child {
    margin-right: 0;
  }
}




.mainnav__list-container ul.level_1 li:hover ul.level_2 {
  @media all and (min-width: 1920px){
    left: 130px;
    width: 75%;
  }
}



.mainnav {
  background-color: #1C323A;
}


@keyframes drop-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.mmenu__link.active {
  color: #ffffff;

}

.level_2 {
  .mmenu__link.mm-listitem__text {
    padding-top: 0;

    font-size: 16px;
    font-weight: 400;
    text-transform: inherit;
  }
}

.mm-listitem {
  a {
    padding: .35714rem 0 .35714rem 3.21429rem;
    font-size: 1.14286rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}






.mainnav__list-container {
  //background-color: none;
  ul.level_1 {

    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    @media all and (max-width: 1024px) {
      font-size: 13px;
    }
    @media all and (max-width: 1090px) {
      font-size: 14px;
    }
    @media all and (min-width: 1280px) {
      font-size: 18px;
    }



    li {
      margin-right: 5px;
      padding-bottom: 10px;
      @media all and (max-width: 1024px) {
        margin-right: 5px;
      }
      @media all and (min-width: 1320px) {
        margin-right: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #ffffff;
        text-decoration: none;
        transition-duration: 0.7s;
      }
      a.active {
        color: #87bd27;
      }

      &:hover {
        a {
          color: #87bd27;
          transition-duration: 0.7s;
        }

        a.sibling, a.submenu {
          position: relative;
          /*&::before {
              position: absolute;
              content: "";
              top: 0;
              left: 50%;
              margin-left: -20px;
              border: 20px solid transparent;
              border-bottom: 20px solid white;
              animation-name: drop-menu;
              animation-duration: .8s;
              animation-fill-mode: forwards;
          } */
        }
        a.aktuelles, a.referenzen {
          &::before {
            content: none;
          }
        }
        ul.level_2 {
          display: flex;
          margin: 0;
          padding: 10px;
          position: absolute;
          top: 68px;
          left: 0;
          width: 100%;
          list-style: none;
          background-color: #ffffff;
          box-shadow: 0 5px 10px 0 rgba(0,0,0,.33);
          animation-name: drop-menu;
          animation-duration: .8s;
          animation-fill-mode: forwards;

          li.submenu {
            padding-right: 10px;
            border-right: 1px solid #1c323a;
            &:last-child {
              border: none;
            }
            a {
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    li.webentwicklung, li.e-commerce, li.wissen, li.agentur-page, li.aktuelles {
      &:hover {
        ul.level_2 {
          display: block;
        }
      }
    }
  }

  ul.level_2 {
    display: none;
    li.active {
      a.active {
        color: #a4be5f;
      }
    }
  }

  ul.level_3 {
    margin: 0;
    li {
      padding-bottom: 0;
      font-size: 14px;
    }
  }

  ul.level_2.mmenu__list li a {
    color: #1C323A;
    transition-duration: 0.7s;


    &:hover {
      color: #87bd27;
      transition-duration: 0.7s;
    }
  }
}
