.mainnav {
  position: absolute;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $mainnav_background;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rem-calc(10px);
  }

  li.aktuelles,
  li.agentur-page,
  li.webentwicklung,
  li.e-commerce{
    ul.level_2 {
      li:not(.mainnav__title) {
        padding-left: 30px;
      }
    }
  }

  &--scroll {
    &::before {
      content: none;
    }
  }

  &__list-container {
    padding-top: rem-calc(20px);
  }


  //---LOGO---//
  &__logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem-calc(20px);
    padding-right: rem-calc(10px);
    padding-bottom: rem-calc(20px);
    padding-left: rem-calc(10px);
    background-color: white;
    border-bottom-right-radius: rem-calc(10px);
    border-bottom-left-radius: rem-calc(10px);
    box-shadow:
            0px 3px 1.2px rgba(0, 0, 0, 0.002),
            0px 6.5px 2.7px rgba(0, 0, 0, 0.003),
            0px 10.9px 4.6px rgba(0, 0, 0, 0.004),
            0px 16.5px 6.9px rgba(0, 0, 0, 0.004),
            0px 23.8px 10px rgba(0, 0, 0, 0.005),
            0px 33.7px 14.2px rgba(0, 0, 0, 0.006),
            0px 47.8px 20.1px rgba(0, 0, 0, 0.006),
            0px 69.4px 29.2px rgba(0, 0, 0, 0.007),
            0px 106.9px 45px rgba(0, 0, 0, 0.008),
            0px 190px 80px rgba(0, 0, 0, 0.01)
  ;
    img {
      width: 150px;
    }
  }


  //---MENU LIST---//

  &__item {
    margin-right: rem-calc(20px);
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: rem-calc(14px);
    font-weight: 500;
    color: $white;

    &:hover {
      text-decoration: none;
      color: $dominant;
    }
  }

  &__item {
    padding-bottom: rem-calc(5px);

  }



  &__item:hover .mainnav__level2-list {
    display: flex!important;
    position: absolute;
    width: 100%;
    top: rem-calc(60px);
    left: 0;
    background: $white;
    animation-name: drop-menu;
    animation-duration: .5s;
    animation-fill-mode: forwards;

  }

  &__item:hover {
    .mainnav__point {
      position: absolute;
      display: block;
      top: rem-calc(45px);
      border: rem-calc(8px) solid transparent;
      border-bottom: rem-calc(8px) solid $white;
      animation-name: drop-menu;
      animation-duration: .5s;
      animation-fill-mode: forwards;
    }
  }

  &__level2-list {
    justify-content: center;
    margin: 0;
    padding: rem-calc(20px) rem-calc(20px);
    list-style: none;
  }

  &__level2-item  {
    border-right: rem-calc(1px) solid #627880;
    margin-right: rem-calc(20px);
    padding-right: rem-calc(20px);
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      border-right: none;
      .mainnav__level3-list {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  &__level2-link {
    display: block;
    margin-bottom: rem-calc(5px);
    font-size: rem-calc(14px);
    font-weight: 500;
    color: $dominant;
  }

  &__level3-list {
    padding: 0;
    margin: 0;
    list-style: inside;
  }

  &__level3-link {
    font-size: rem-calc(12px);
    color: $dominant;

  }

  //---PARTNER LIST---//
  &__partner-container {
    position: absolute;
  }

  &__partner-item {
    margin-top: -1px;
    padding: 5px;
    background-color: $white;
    border-radius: 0 0 rem-calc(5px) rem-calc(5px);
    box-shadow:
            0px 3px 1.2px rgba(0, 0, 0, 0.002),
            0px 6.5px 2.7px rgba(0, 0, 0, 0.003),
            0px 10.9px 4.6px rgba(0, 0, 0, 0.004),
            0px 16.5px 6.9px rgba(0, 0, 0, 0.004),
            0px 23.8px 10px rgba(0, 0, 0, 0.005),
            0px 33.7px 14.2px rgba(0, 0, 0, 0.006),
            0px 47.8px 20.1px rgba(0, 0, 0, 0.006),
            0px 69.4px 29.2px rgba(0, 0, 0, 0.007),
            0px 106.9px 45px rgba(0, 0, 0, 0.008),
            0px 190px 80px rgba(0, 0, 0, 0.01)
  ;

    &:first-child {
      margin-right: rem-calc(5px);
    }
  }

  &__partner-icon {
    width: rem-calc(55px);
  }
}

.mainnav {
  ul.level_1.mmenu__list {
    display: flex;
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: rem-calc(5px);
    list-style: none;

     li.mmenu__item {
      margin-right: rem-calc(15px);

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #ffffff;
        text-transform: uppercase;
        transition-duration: .3s;
        @media all and ( max-width: 1024px ){
          font-size: 10px;
        }
        @media all and ( max-width: 1320px ) {
          font-size: 12px;
        }

        &:hover {
          text-decoration: none;
          opacity: .7;
        }
        &.active {
          font-weight: 700;
        }
        &.trail {
          font-weight: 700;
        }
      }
    }
  }

  ul.level_2.mmenu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: rem-calc(20px);
    list-style: none;
    background: #ffffff;
    box-shadow: $shadow;

    li {
      a {
        color: $fontColor !important;
      }
    }
    li:not(.submenu) {
      list-style-position: inside;
      list-style-type: disc;
      list-style-image: url("../images/svg/list_icon_707070.svg");

    }
    li.mainnav__title {
      list-style-type: none;
      list-style-image: none;
    }

    li.submenu {
      border-right: rem-calc(1px) solid $fontColor;
      &:last-child {
        border-right: none;
      }
      a.mmenu__link.submenu {
        display: block;
        margin-bottom: rem-calc(10px);
        font-weight: 700;
      }
    }
    li.mmenu__item.active {
      a.mmenu__link.active {
        color: $linkHoverColor!important;
      }
    }
  }

  ul.level_3.mmenu__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li,
    li.mmenu__item {
      //padding-left: rem-calc(30px);
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

ul.level_2.mmenu__list.mainnav--display {
  display: flex;
  flex-direction: column;
}

li.mmenu__item.strategie-beratung {
  ul.level_2.mmenu__list.mainnav--display {
    display: flex;
    flex-direction: row;
  }
}