.about-us {
  @include container-padding-top;
  @include container-padding-bottom;

  &__title {
    @include h2-title;
  }

  &__description {
    h1,h2,h3,h4,h5,h6 {
      font-size: rem-calc(18px);
      font-weight: 500;
      color: $gradientGreen;
    }
  }

  p {
    @include main-description;

  }



  &__team_contacts__text {
    p {
      margin-bottom: 0;
    }
  }
  &__team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(30px);
    }

    a {
      color: $linkColor;
      transition-duration: .3;
      &:hover {
        text-decoration: none;
        color: $linkHoverColor;
        transition-duration: .3s;
      }
    }

    .team__contacts-list {
      margin-bottom: rem-calc(15px);
    }
  }

  &__team-image {
    width: rem-calc(280px);
    height: rem-calc(280px);
    margin-bottom: rem-calc(15px);
    box-shadow: $shadow;
  }

  .team__item-title {
    text-align: center;
    font-size: rem-calc(24px);
  }

  .team__item-role {
    margin-bottom: rem-calc(5px);
    font-size: rem-calc(16px);
    text-align: center;
  }

  &__team-description {
    p {
      margin-bottom: rem-calc(20px);
    }

    h1,h2,h3,h4,h5,h6 {
      margin-bottom: rem-calc(20px);
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto Slab", serif;
      font-weight: 300;
      color: $title_block;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: rem-calc(10px);
        padding-left: rem-calc(25px);
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          position: absolute;
          content: "";
          top: rem-calc(3px);
          left: 0;
          width: rem-calc(16px);
          height: rem-calc(16px);
          box-sizing: border-box;
          border: rem-calc(2px) solid rgba(98, 120, 128, 0.5);
        }

        &::after {
          position: absolute;
          content: "";
          top: -1px;
          left: 0;
          width: 20px;
          height: 12px;
          border-bottom: 2px solid $primaryColor;
          border-left: 2px solid $primaryColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.about-us {
  h2 {
    color: #1C323A;
  }
  h1.about-us__title {
    font-size: 3rem;
    color: #1C323A;

    @media all and (min-width: 768px) {
      font-size: 3rem;
      margin-bottom: rem-calc(50px);
    }
  }

  .about-us__title {
    position: relative;
    width: fit-content;
    margin-bottom: 50px;

    &::before {
      position: absolute;
      content: "";
      top: -30px;
      left: -50px;

      width: rem-calc(100px);
      height: rem-calc(100px);
      border: rem-calc(7px) solid rgba(135, 189, 39, 0.15);

      border-radius: 50%;
      background-color: rgba(76, 113, 126, 0.05);
      z-index: -1;

    }
  }

  &__description {
    h3, h4, h5, h6 {
      color: inherit;
    }

    a {
      color: $linkColor;
      transition-duration: 0.7s;

      &:hover {
        text-decoration: none;
        opacity: 0.5;
        transition-duration: 0.7s;
      }
    }
  }
}


