.aktuelles-widget {
  @include container-padding-bottom;
  &__description-container {
    @include conteiner-padding;
    background: $gradientGreen;
  }

  &__title {
    @include widget-title;
    margin-bottom: rem-calc(20px);
  }

  p {
    @include widget-description;
    margin-bottom: rem-calc(15px);
  }

  &__link {
    position: relative;
    display: block;
    width: rem-calc(44px);
    height: rem-calc(44px);
    background: $backgroundColor;
    border-radius: 50%;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      margin-top: rem-calc(-2px);
      width: rem-calc(21px);
      height: rem-calc(4px);
      background-color: $gradientGreen;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: rem-calc(7px);
      margin-top: rem-calc(-8px);
      width: rem-calc(16px);
      height: rem-calc(16px);
      border-top: rem-calc(4px) solid $gradientGreen;
      border-right: rem-calc(4px) solid $gradientGreen;
      transform: rotate(45deg);
    }
  }

  &__image-container {
    background-image: url("../images/aktuelles/aktuelles-widget.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}