.article_checklist {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding: rem-calc(10px) rem-calc(10px) rem-calc(10px) rem-calc(30px);
      margin-bottom: rem-calc(15px);
      border: 1px solid $article_checklist_border;

      &::before {
        position: absolute;
        content: "✓";
        top: 10px;
        left: 15px;
        color: $primaryGreen;
      }

      ul {
        padding-top: rem-calc(10px);
        padding-left: rem-calc(10px);
        li {
          margin: 0;
          padding: 0;
          border: none;

          &::before {
            content: none;
          }
        }
      }
    }
  }
}