.article_content {
  width: fit-content;
  width: -moz-fit-content;
  margin: rem-calc(30px) 0;
  padding: rem-calc(15px);
  font-size: 16px;
  color: $article_content__text;
  border: 1px solid $article_content__border;

  p {
    margin-bottom: rem-calc(5px);
    font-weight: 700;
  }

  ol {
    margin-bottom: 0;
    a {
      color: $article_content__text;
      font-weight: 300;
    }
  }
}