.cards {
  padding-top: rem-calc(50px);
  padding-bottom: rem-calc(30px);
  background-color: $footer__contacts;

  &__item {
    position: relative;
    min-height: rem-calc(230px);
    background-color: $burgerColor;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: rem-calc(20px);
    padding-top: rem-calc(30px);
    padding-left: rem-calc(50px);
    padding-right: rem-calc(50px);
    padding-bottom: rem-calc(50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: $shadow;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: .2;
    }
  }

  &__description {
    margin-bottom: rem-calc(30px);
    color: $white;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 28px;
    z-index: 1;
  }

  &__link {
    @include content_button;
    margin: 0;
    width: fit-content;
    z-index: 1;
  }
}