.ce_download_record {
  background-color: #E5E5E5;
  .cr_body {
    background-color: #EDF1F2;
  }

  .cr_ipe_item.ui-sortable.musthave {
    label {
      font-family: "Roboto Slab", serif;
      font-size: rem-calc(20px);
      font-weight: 300;
      text-align: center;

      span {
        padding-left: 3px;
        color: red;
      }
    }
    input {
      background-color: #ffffff;
      border: 2px solid #87bd27;
      border-radius: 0;
    }
  }

  .cr_button {
    position: relative;
    padding: 10px 10px 10px 40px;
    border: none;
    background-color: $primaryGreen;
    text-transform: uppercase;
    color: #ffffff;

    span {
      position: relative;
      z-index: 1;
      white-space: pre-wrap;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 30px;
      height: 100%;
      background: $secondaryGreen;
      mix-blend-mode: multiply;
      opacity: 0.55;
      transition-duration: .7s;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 5px;
      width: 15px;
      height: 15px;
      margin-top: -7px;
      box-sizing: border-box;
      border-top: 2px solid #87BD27FF;
      border-right: 2px solid #87BD27FF;
      transform: rotate(45deg);
    }

    &:hover {
      &::before {
        width: 100%;
        transition-duration: .7s;
      }
    }

  }
}