.ce_text {

  //image configuration:
  .image_container {
    &.float_above {
      img {
        margin-bottom: rem-calc(15px);
      }
    }
    &.float_left, &.float_right {

      @include media-breakpoint-up ( md ) {
        width: 50%;
      }

      img {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(20px);
        }
        @include media-breakpoint-up(md) {
          margin-right: 15px;
          margin-bottom: 15px;
          &.full_width {
            margin-right: 0;
          }
        }
      }
    }
    &.float_right {

      @include media-breakpoint-up ( md ) {
        width: 50%;
      }

      img {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(20px);
        }
        @include media-breakpoint-up(md) {
          margin-left: 15px;
          margin-bottom: 15px;
          &.full_width {
            margin-left: 0;
          }
        }
      }
    }
    &.float_below {
      img {
        margin-bottom: 30px;
      }
    }
  }
}