.arrow {
  position: relative;
  margin: rem-calc(20px) 0;
  height: rem-calc(30px);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: rem-calc(1px);
    background-image: linear-gradient(to right, transparent, #303133, transparent);
  }
}

.arrowDown {
  position: relative;
  margin: rem-calc(20px) 0;
  height: rem-calc(30px);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: rem-calc(1px);
    background-image: linear-gradient(to right, transparent, #303133, transparent);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
    width: rem-calc(14px);
    height: rem-calc(14px);
    transform: rotate(45deg);
    background-color: white;
    border-bottom: rem-calc(1px) solid #303133;
    border-right: rem-calc(1px) solid #303133;
  }
}

.arrowUp {
  position: relative;
  margin: rem-calc(20px) 0;
  height: rem-calc(30px);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: rem-calc(1px);
    background-image: linear-gradient(to right, transparent, #303133, transparent);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: calc(50% - 8px);
    left: calc(50% - 7px);
    width: rem-calc(14px);
    height: rem-calc(14px);
    transform: rotate(-135deg);
    background-color: white;
    border-bottom: rem-calc(1px) solid #303133;
    border-right: rem-calc(1px) solid #303133;
  }
}

.header-shadow {
  background-color: $teaserWidget;
  transition-duration: .6s;
}