.download_button {

  a {
    @include button;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: rem-calc(35px);
    padding-right: rem-calc(15px);
    padding-left: rem-calc(15px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(30px);
    box-shadow: none;
    position: relative;

    &:hover {
      transform: scale(0.95);
      color: #ffffff;
    }

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-right: -15px;
      background-image: url("../images/svg/download.svg");
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}