.form-teaser {
  padding-top: 50px;
  &__container {
    position: relative;
  }

  &__text-container {
    position: relative;
    order: 1;
    padding: rem-calc(20px);
    background-color: $teaserWidget;
    color: $white;
    @include media-breakpoint-up(md){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      order: 0;
      width: 95%;
      min-height: 300px;
      p, h1, h2, h3, h4, h5, h6 {
        width: 70%;
      }
    }

    h1,h2,h3,h4,h5,h6 {
      font-family: "Roboto Slab", serif;
      font-weight: 300;
    }
  }

  &__image-container {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      width: 23%;
      order: 1;

      position: absolute;
      top: -10%;
      right: 0;

      border-left: 10px solid $white;
      border-bottom: 10px solid $white;
    }
    img {
      width: 100%;
    }
  }

  &__button {
    @include content_button;
    margin-top: rem-calc(20px);
    width: fit-content;
    width: -moz-fit-content;
  }

  &__form {
    display: none;
  }
}