.form-request {
  //padding-top: rem-calc(50px);
  padding-bottom: rem-calc(50px);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__icon {
    margin-bottom: rem-calc(30px);
  }

  &__name {
    margin-bottom: rem-calc(20px);
  }

  &__form {
    position: relative;
    padding-left: rem-calc(30px);
    width: 100%;

    &::before {
      position: absolute;
      //content: "";
      top: 0;
      left: 0;
      width: rem-calc(20px);
      height: 100%;
      background-color: $primaryColor;
    }

    &::after {
      position: absolute;
      //content: "";
      top: rem-calc(5px);
      left: rem-calc(5px);
      width: rem-calc(10px);
      height: rem-calc(10px);
      box-sizing: border-box;
      border-top: 4px solid $white;
      border-right: 4px solid $white;
      transform: rotate(135deg);
    }
  }

  &__title {
    font-size: rem-calc(19px);
    font-weight: 700;
    text-transform: uppercase;
    color: $primaryColor;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(24px);
    }
  }
}