.group {
  &__title {
    @include h2-title;
  }
  &__image {
    width: 100%;
    height: rem-calc(205px);
    margin-bottom: rem-calc(15px);
  }

  &__description {
    h1,h2,h3,h4,h5,h6 {
      font-size: rem-calc(16px);
    }
  }

  &__button {
    position: relative;
    padding-left: rem-calc(30px);
    color: $fontColor;
    &:hover {
      text-decoration: none;
    }
    span {
      position: absolute;
      left: 0;
      width: rem-calc(20px);
      height: rem-calc(20px);
      background-color: tomato;
    }
  }
}