.header_block {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 60vh;
  margin-bottom: rem-calc(30px);
  background-image: url("../images/background/startseite_bakcground.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(lg){
    height: 60vh;
  };

  h1 {
    padding-bottom: rem-calc(30px);
    font-family: 'Roboto Slab', serif;
    font-size: rem-calc(32px);
    font-weight: 400;
    color: #ffffff;

    @include media-breakpoint-up(lg) {
      padding-bottom: rem-calc(50px);
      font-size: rem-calc(58px);
    }
  }

  .ce_text {
    padding-bottom: rem-calc(30px);

    h1 {
      padding-bottom: 0;
      font-family: 'Roboto Slab', serif;
      font-size: rem-calc(32px);
      font-weight: 400;
      color: #ffffff;

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(58px);
      }
    }

    p {
      color: #ffffff;
      font-size: rem-calc(18px);

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(24px);
      };
    }
  }

  /***************
  *** Subpages ***
  ***************/
  &__subpages {
    height: 30vh;
    @include media-breakpoint-up(lg){
      height: 40vh;
    };
  }

  /***********
  *** Team ***
  ***********/
  &__team {
    background-image: url("../images/background/unterseite_hintergrund.jpg");
  }

  /**************************
  *** Werte und Prinzipen ***
  **************************/
  &__werte {
    background-image: url("../images/background/unterseite_hintergrund.jpg");
  }

  /********************
  *** Kooperationen ***
  *********************/
  &__kooperationen {
    background-image: url("../images/background/kooperationen_header.jpg");
  }

  /***************
  *** Karriere ***
  ***************/
  &__karriere {
    background-image: url("../images/background/karriere_header.jpg");
    background-position: center;
  }

  /***************
  *** E-Commerce ***
  ***************/
  &__ecommerce {
    background-image: url("../images/background/e_commerce.jpg");
    background-position: center;
  }

  &__image {
    height: 50vh;
    @include media-breakpoint-up(lg) {
      height: auto;
    }
    img {
      height: 50vh;
      @include media-breakpoint-up(lg) {
        width: 100%;
        height: auto;
      }
    }
  }
}



