.header_background {

  margin-bottom: 30px;
  position: relative;

  &__container {
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: rem-calc(30px);
    }
    width: 100%;
    .container {
      padding-top: rem-calc(20px);
      padding-bottom: rem-calc(20px);
      background-color: $mainnav_background;
      box-shadow: $shadow;
    }
  }
  &__title  {
    font-family: 'Roboto Slab', serif;
    font-size: rem-calc(18px);
    font-weight: 400;
    color: #ffffff;

    @include media-breakpoint-up(md) {
      font-size: rem-calc(28px);
    }
  }
  &__text {

    p {
      color: #ffffff;
      font-size: rem-calc(16px);

      @include media-breakpoint-up(md) {
        font-size: rem-calc(20px);
      }
    }
  }
  &__link {
    @include content_button;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: none;
  }
}