.job {
  margin-bottom: rem-calc(50px);
  padding-top: rem-calc(50px);


  &__title_container.job_show {
    &::before {
      transform: rotate(135deg);
      transition-duration: .3s;
    }
  }
  &__title {
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    color: $title_block;
    @include media-breakpoint-down(md) {
      font-size: rem-calc(24px);
    }

    @include media-breakpoint-up(md) {
      font-size: rem-calc(32px);
    }
  }
  &__description {
    margin-bottom: rem-calc(30px);
    border-bottom: rem-calc(1px) solid $primaryColor;
  }
  &__list {
    padding-top: 30px;
    h1,h2,h3,h4,h5,h6 {
      margin: 0;
      padding: 0;
    }

    h1,h2,h3,h4,h5,h6 {
      font-size: rem-calc(12px);
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: rem-calc(12px);
      font-weight: 300;
    }
  }

  &__item {
    margin-bottom: rem-calc(20px);
    @include media-breakpoint-down(md) {
      width: 50%;
      margin-bottom: rem-calc(10px);
    }

  }

  /* button */
  &__button {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    transition-duration: 0.7s;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #3AAA35;
      transition-duration: .7s;
      z-index: -1;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #87bd27;
      z-index: -2;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
      &::after {
        width: 100%;
        transition-duration: .7s;
      }
    }
    @include media-breakpoint-up( lg ) {
      margin-top: 50px;
    }
  }
}