#cboxOverlay {
  background: rgba(98, 120, 128);
}

#cboxLoadedContent {
  border-color: #ffffff;
}

#cboxClose {
  width: rem-calc( 30px );
  height: rem-calc( 30px );
  background-image: url("../images/svg/close.svg");
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  transition-duration: .3s;
  &:hover {
    transform: scale( .9 );
    transition-duration: .3s;
  }
}

#cboxNext, #cboxPrevious {
  width: rem-calc( 30px );
  height: rem-calc( 30px );
  background-image: url("../images/svg/button_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  transition-duration: .3s;
  &:hover {
    background-position: center;
    transform: scale(.9);
    transition-duration: .3s;
  }
}

#cboxPrevious {
  transform: rotate( 180deg );
  &:hover {
    transform: rotate( 180deg ) scale(.9);
  }
}