.mmenu__nav {

  //---CLOSE-BUTTON---//
  .mmenu__close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  //---MAIN-MENU---//
  #mm-0, #mm-1, #mm-2, #mm-3, #mm-4, #mm-5, #mm-6, #mm-7, #mm-8  {
    background-color: $primaryColor;

    .mm-navbar {
      border: none;
      background-color: #509b12;
    }

    .mm-navbar__title {
      //display: none;
    }

    .mmenu__list {
      margin-top: rem-calc(20px);
    }

    .mmenu__item,
    .mm-listitem {
      margin-bottom: rem-calc(10px);
    }

    .mmenu__link,
    a.mm-listitem__text, .mm-navbar__title {
      padding: 0 20px 0 10px;
      color: $white;
      font-weight: 700;
      font-size: rem-calc(16px);
      text-transform: uppercase;
    }

    .mm-btn, .mm-btn_next {
      border: none;

      &::before, &::after {
        border-color: $white;
      }
    }

    .mm-listitem__text {
      white-space: inherit;
    }
  }

  //---NAVBAR-BOTTOM---//
  .mm-navbars_bottom {
    .mainnav__partner {
      display: flex;

      &-item {
        border-radius: rem-calc(5px);
      }
    }
    .mm-navbar {
      padding-top: rem-calc(20px);
      border: none;
      background-color: #509b12;

      .mmenu__footer-icon-item {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: rem-calc(5px);
        padding: rem-calc(5px);
        background-color: $social_sticky;
        border-radius: rem-calc(5px);

        &:last-child {
          margin-right: 0;
        }
      }

      .mmenu__footeer-icon-link {
        width: 100%;
        img {
          height: 30px;
        }
      }
    }
    .row {
      width: 100%;
    }
  }
}

//---BLOCKER---//
.mm-wrapper__blocker.mm-slideout {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}