.mod_newslist {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .layout_latest__container {
    margin-bottom: rem-calc(20px);
    @include media-breakpoint-up(md) {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-bottom: rem-calc(20px);
      padding: 0;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  /*** CHECKLISTEN PAGE ***/
  &__checklisten {

    .layout_short {
      margin-bottom: 30px;
      padding: 20px;
      box-shadow: $shadow;
      h2 {
        font-family: "Roboto Slab", serif;
        font-size: rem-calc(24px);
        font-weight: 300;
        color: $dominant;
      }
      p.more {
        @include more_button;
        width: fit-content;
        margin-bottom: 0;
      }
    }
  }
}

.mod_newslist.team_news {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }

  .layout_latest__container {
    box-shadow: $shadow;
    @include media-breakpoint-up(md) {
      width: calc(33% - 20px);

      &:nth-child(even) {
        margin-right: rem-calc(20px);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}