.mod_eventlist {
  margin-bottom: rem-calc(50px);
  padding: rem-calc(50px) 0;
  background-color: rgba(76, 113, 126, 0.05);

  .layout_teaser {
    height: 100%;
    background-color: #fff;
    box-shadow: $shadow;

    &__container {
      padding: rem-calc(20px) rem-calc(20px) rem-calc(60px) rem-calc(20px);
    }

    img {
      width: 100%;
    }

    h2 {
      font-family: "Roboto Slab", serif;
      a {
        color: $fontColor;
        transition-duration: .3s;
        &:hover {
          transition-duration: .3s;
        }
      }
    }

    p.more {
      position: absolute;
      bottom: 0;
      padding: 10px 10px 10px 40px;
      background-color: $primaryGreen;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        background: $secondaryGreen;
        mix-blend-mode: multiply;
        opacity: 0.55;
        transition-duration: .7s;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 5px;
        width: 15px;
        height: 15px;
        margin-top: -7px;
        box-sizing: border-box;
        border-top: 2px solid #87BD27FF;
        border-right: 2px solid #87BD27FF;
        transform: rotate(45deg);
      }

      &:hover {
        text-decoration: none;
        transition-duration: .7s;

        &::before {
          width: 100%;
          transition-duration: .7s;
        }
      }

      a {
        position: relative;
        display: block;
        width: fit-content;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        -webkit-transition-duration: .7s;
        -o-transition-duration: .7s;
        transition-duration: .7s;

        &:hover {
          text-decoration: none;
        }
      }

    }

  }

  .pagination {
    margin-top: rem-calc(50px);
    padding: 0;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0 0 rem-calc(2px) 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem-calc(30px);
        height: rem-calc(30px);
        margin-right: rem-calc(5px);
        border: rem-calc(2px) solid #B5B5B5;
        font-size: rem-calc(18px);
        @include media-breakpoint-up(md) {
          margin-right: rem-calc(10px);
        }
        @include media-breakpoint-up(lg) {
          margin-right: rem-calc(20px);
        }

        strong.active {
          display: block;
          width: 100%;
          height: 100%;
          padding-top: rem-calc(5px);
          color: $white;
          background-color: #B5B5B5;
          text-align: center;
          line-height: 1;
        }

        a.link {
          color: #B5B5B5;
          transition-duration: 0.3s;
          &:hover {
            text-decoration: none;
            opacity: 0.5;
            transition-duration: 0.3s;
          }
        }
      }
      li.last, li.first {
        @include media-breakpoint-down(lg) {
          display: none;
        }
        width: -moz-fit-content;
        width: fit-content;
        padding: rem-calc(5px);
        a {
          color: #B5B5B5;
          text-decoration: none;
        }
      }

      li.next, li.previous {
        border: none;
      }

      a.next, a.previous {
        position: relative;
        display: block;
        width: rem-calc(30px);
        height: rem-calc(30px);
        background-color: #B5B5B5;
        transition-duration: 0.7s;

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          margin-top: -8px;
          margin-left: -11px;
          width: 16px;
          height: 16px;
          border-top: 4px solid $white;
          border-right: 4px solid $white;
          transition-duration: .7s;
        }

        &:hover {
          transition-duration: 0.7s;

          &::before {
            border-color: $primaryGreen;
            transition-duration: 0.7s;
          }
        }
      }

      a.next {
        &::before {
          transform: rotate(45deg);
        }
      }

      a.previous {
        &::before {
          transform: rotate(-135deg);
          margin-left: -7px;
        }
      }
    }
  }

}