.news-reader {

  #container {
    background-color: $backgroundGray;
  }
  .layout_full {
    margin-bottom: rem-calc(50px);
  }

  .mod_newsreader {
    padding-bottom: rem-calc(50px);
    background-color: #ffffff;
    p.back {
      @include back_button;
    }
  }
}