.newsletter {
  margin-top: rem-calc(50px);
  margin-bottom: rem-calc(10px);

  &__title {
    margin-bottom: rem-calc(30px);
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: $title_block;
  }

  &__form {
    padding: rem-calc(20px);
    background-color: #EDF1F2;
  }

  &__input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__label {
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(20px);
    font-weight: 300;
    text-align: center;

    span {
      padding-left: 3px;
      color: red;
    }
  }

  &__input {
    width: 100%;
    border: 2px solid $primaryGreen;
    border-radius: 0;
  }

  .editable_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button {
    position: relative;
    padding: 10px 10px 10px 40px;
    border: none;
    background-color: $primaryGreen;
    text-transform: uppercase;
    color: #ffffff;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 30px;
      height: 100%;
      background: $secondaryGreen;
      mix-blend-mode: multiply;
      opacity: 0.55;
      transition-duration: .7s;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 5px;
      width: 15px;
      height: 15px;
      margin-top: -7px;
      box-sizing: border-box;
      border-top: 2px solid #87BD27FF;
      border-right: 2px solid #87BD27FF;
      transform: rotate(45deg);
    }

    &:hover {
      &::before {
        width: 100%;
        transition-duration: .7s;
      }
    }
  }


}

.newsletter_datenschutz {
  margin-bottom: rem-calc(50px);
  p {
    font-size: rem-calc(12px);
  }
}