.news-slider {
  padding-top: rem-calc(50px);
  padding-bottom: rem-calc(50px);
  background-image: url("../images/header/header-block_image-dekstop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primaryColor;
  background-position: center;
  &__title {
    font-size: rem-calc(16px);
    text-transform: uppercase;
    color: $white;
  }
  &__description {
    margin-bottom: rem-calc(30px);
    color: $white;
  }

  &__slide--gray {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: rem-calc(210px)!important;
    height: rem-calc(386px);
    padding: rem-calc(20px);
    background-color: $teaserWidget;

    .news-slider__slide-icon {
      margin-bottom: rem-calc(15px);
    }

    &-title {
      margin-bottom: rem-calc(15px);
      font-size: rem-calc(18px);
      color: $white;
      text-align: center;
    }

    &-description {
      color: $white;
    }
  }

  &__slide {
    position: relative;
    height: 440px;
    padding-bottom: rem-calc(20px);
    background-color: $white;
    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(20px);
    }
    &-image {
      margin-bottom: rem-calc(20px);
      width: 100%;
    }
    &-icon {
      position: absolute;
      top: rem-calc(20px);
      left: calc(50% - 60px);
    }
    &-text-container {
      padding: 0 rem-calc(40px);
      p {
        @include media-breakpoint-down(md) {
          margin-bottom: rem-calc(20px);
        }
      }
    }

    &-title {
      font-size: rem-calc(16px);
      margin-bottom: rem-calc(10px);
    }
    &-description {
      margin-bottom: rem-calc(10px);
    }

    &-button {
      @include button;
    }
  }

  .swiper-container__news {
    @include media-breakpoint-down(md){
      height: 500px;
    }
  }

  .swiper-button-next__news,
  .swiper-button-prev__news {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}