.news {
  &__categories {
    margin-top: rem-calc(30px);
    margin-bottom: rem-calc(30px);
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: start;


      li {
        margin-right: rem-calc(10px);
        margin-bottom: rem-calc(10px);
        padding: rem-calc(5px) rem-calc(10px);
        font-size: rem-calc(14px);
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
        background-color: #B5B5B5;
        cursor: pointer;
        transition-duration: 0.3s;



        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: $primaryGreen;
          transition-duration: 0.3s;
        }

        a {
          font-size: rem-calc(14px);
          font-weight: 400;
          color: $white;

          &:hover {
            text-decoration: none;
          }
        }

        @media all and (max-width: 768px) {
          margin-bottom: rem-calc(10px);
        }
      }

      li.active {
        background-color: $primaryGreen;
      }

    }
  }

  .mod_newslist {
    margin-bottom: rem-calc(50px);
    padding-top: rem-calc(30px);
    padding-bottom: rem-calc(30px);

    .layout_latest {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: rem-calc(30px);
      background-color: $white;

      img {
        width: 100%;
      }

      &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: rem-calc(20px) rem-calc(20px) rem-calc(135px) rem-calc(20px);
        position: relative;


        h2 {
          margin-bottom: rem-calc(20px);
          line-height: .9;
          a {
            font-family: "Roboto Slab", serif;
            font-size: rem-calc(18px);
            font-weight: 300;
            color: $dominant;
          }
        }

        p {
          font-size: rem-calc(14px);
        }

        p.more {
          position: absolute;
          bottom: 0;
          padding: 10px 10px 10px 40px;
          background-color: $primaryGreen;
          cursor: pointer;

          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 30px;
            height: 100%;
            background: $secondaryGreen;
            mix-blend-mode: multiply;
            opacity: 0.55;
            transition-duration: .7s;
          }

          &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 5px;
            width: 15px;
            height: 15px;
            margin-top: -7px;
            box-sizing: border-box;
            border-top: 2px solid #87BD27FF;
            border-right: 2px solid #87BD27FF;
            transform: rotate(45deg);
          }

          &:hover {
            text-decoration: none;
            transition-duration: .7s;

            &::before {
              width: 100%;
              transition-duration: .7s;
            }
          }

          a {
            position: relative;
            display: block;
            width: fit-content;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            -webkit-transition-duration: .7s;
            -o-transition-duration: .7s;
            transition-duration: .7s;

            &:hover {
              text-decoration: none;
            }
          }

        }
      }
    }
    .mata_fields {
      position: absolute;
      bottom: rem-calc(80px);
      padding-top: rem-calc(40px);
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-decoration: none;
        color: inherit;
        transition-duration: .3s;
        &:hover {
          color: $linkHoverColor;
          transition-duration: .3s;
        }
      }

      img {
        width: rem-calc(50px);
        margin-right: rem-calc(10px);
      }
      .info {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        font-family: "Roboto Slab", serif;
        span {
          text-decoration: underline;
        }
        time {
          font-size: rem-calc(10px);
        }
      }
    }
  }


  .pagination {
    margin-top: rem-calc(50px);
    padding: 0;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0 0 rem-calc(2px) 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem-calc(30px);
        height: rem-calc(30px);
        margin-right: rem-calc(5px);
        border: rem-calc(2px) solid #B5B5B5;
        font-size: rem-calc(18px);
        @include media-breakpoint-up(md) {
          margin-right: rem-calc(10px);
        }
        @include media-breakpoint-up(lg) {
          margin-right: rem-calc(20px);
        }

        strong.active {
          display: block;
          width: 100%;
          height: 100%;
          padding-top: rem-calc(5px);
          color: $white;
          background-color: #B5B5B5;
          text-align: center;
          line-height: 1;
        }

        a.link {
          color: #B5B5B5;
          transition-duration: 0.3s;
          &:hover {
            text-decoration: none;
            opacity: 0.5;
            transition-duration: 0.3s;
          }
        }
      }
      li.last, li.first {
        @include media-breakpoint-down(lg) {
          display: none;
        }
        width: -moz-fit-content;
        width: fit-content;
        padding: rem-calc(5px);
        a {
          color: #B5B5B5;
          text-decoration: none;
        }
      }

      li.next, li.previous {
        border: none;
      }

      a.next, a.previous {
        position: relative;
        display: block;
        width: rem-calc(30px);
        height: rem-calc(30px);
        background-color: #B5B5B5;
        transition-duration: 0.7s;

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          margin-top: -8px;
          margin-left: -11px;
          width: 16px;
          height: 16px;
          border-top: 4px solid $white;
          border-right: 4px solid $white;
          transition-duration: .7s;
        }

        &:hover {
          transition-duration: 0.7s;

          &::before {
            border-color: $primaryGreen;
            transition-duration: 0.7s;
          }
        }
      }

      a.next {
        &::before {
          transform: rotate(45deg);
        }
      }

      a.previous {
        &::before {
          transform: rotate(-135deg);
          margin-left: -7px;
        }
      }
    }
  }
}
.mata_fields {
  padding-top: rem-calc(40px);
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    color: inherit;

    &:hover {
      color: $linkHoverColor;
    }
  }

  img {
    width: rem-calc(50px);
    margin-right: rem-calc(10px);
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    span {
      text-decoration: underline;
    }
    time {
      font-size: rem-calc(10px);
    }
  }
}