.quotation {
  margin-bottom: rem-calc(100px);
  padding-top: rem-calc(30px);
  padding-bottom: rem-calc(30px);
  text-align: center;
  background-color: #B5B5B5;
  p {
    margin-bottom: 0;
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(20px);
    font-weight: 300;
    color: #ffffff;

    strong {
      color: #ffffff;
    }
  }
}