.rsce_gallery {

  &__title_container {
	height: 25vh;
	padding-top: 5vh;
  }

  &__title {
	font-family: "Roboto Slab", serif;
	color: #ffffff;
  }

  &__container {
	margin-top: -10vh;
  }

  &__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc( 50% - 10px );
	height: rem-calc( 182px );
	background-color: tomato;
	border: rem-calc( 1px ) solid #E5E5E5;
	border-radius: 0;

	@include media-breakpoint-up( md ) {
	  width: calc( 25% - 10px );
	}
	&:first-child {
	  height: rem-calc( 268px );
	}
	&:nth-child( 4n + 4 ) {
	  height: rem-calc( 230px );
	}
	&:nth-child( 6 ) {
	  height: rem-calc( 300px );
	}
	&:nth-child( 10 ) {
	  height: rem-calc( 400px );
	}
	&:last-child {

	}

	a {
	  display: block;
	  height: 100%;
	}
	
  }
  &__image {

	  width: 100%;
	  height: 100%;
	  object-fit: cover;

  }
}