.rsce_bad_salzuflen {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up( lg ) {
	padding-top: 50px;
	padding-bottom: 50px;
  }
  &__button {
	@include content_button;
	&.button_left {
	  @include media-breakpoint-up( md ) {
		align-self: flex-start;
	  }
	}
	&.button_center {
	  @include media-breakpoint-up( md ) {
		align-self: center;
	  }
	}
	&.button_right {
	  @include media-breakpoint-up( md ) {
		align-self: flex-end;
	  }
	}
  }
}