.rsce_lage {
  padding-bottom: rem-calc(50px);
  &__text_container {
    margin-bottom: rem-calc(30px);

    &:nth-child(3) {
      margin-top: rem-calc(30px);
    }

    &--hidden {
      @media all and (max-width: 991px) {
        display: none;
      }
    }
  }

  &__text {
    position: relative;
    margin-bottom: rem-calc(20px);
    padding-left: rem-calc(30px);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border: 2px solid $dominantSecondary;
    }

    &::after {
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      width: 25px;
      height: 12px;
      border-left: 3px solid $primaryGreen;
      border-bottom: 3px solid $primaryGreen;
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin-bottom: rem-calc(10px);
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(20px);
    line-height: 1;
    color: #627880;
  }

  &__button_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    @include content_button;
    border: none;
  }
}