.rsce_berlin {
  ul {
	list-style: none;
	// margin: 0;
	padding: 0;
  }
  padding-top: rem-calc( 80px );
  @include media-breakpoint-up( lg ) {
	padding-top: rem-calc(120px);
  }

  &__card {
	position: relative;
	background-color: #ffffff;
	@include media-breakpoint-up( md ) {
	  width: fit-content;
	  margin: 0 auto rem-calc( 100px );
	  padding: 20px rem-calc( 10px ) 20px;
	  transform: rotate( -3deg );
	  box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.2);
	  -webkit-box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.2);
	  -moz-box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.2);
	  z-index: 2;
	}
  }
  &__image_container {
	margin-bottom: rem-calc( 30px );
	@include media-breakpoint-up( lg ) {
	  padding: 0 rem-calc( 10px );
	}
  }

  &__title, &__questions_title {
	text-transform: uppercase;
	color: $title_block;
	margin-bottom: rem-calc( 30px );
	font-family: 'Roboto Slab', serif;
	h1,h2,h3,h4,h5,h6 {
	  margin-bottom: 0;
	}
	span {
	  font-weight: 100;
	}
	@include media-breakpoint-down(md) {
	  h1 {
		font-size: rem-calc(24px);
	  }
	  h2 {
		font-size: rem-calc(22px);
	  }
	  h3 {
		font-size: rem-calc(20px);
	  }
	}

	@include media-breakpoint-up(md) {
	  h2,h3,h1 {
		font-size: rem-calc(24px);
	  }

	  span {
		font-size: rem-calc(20px);
	  }
	}
  }

  // rsce_berlin__description_container
  &__description_container {
	position: relative;
	margin-bottom: rem-calc( 50px );
	padding: rem-calc( 20px );
	background-color: #F6F8F8;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
	@include media-breakpoint-up( lg ) {
	  position: absolute;
	  left: -95%;
	  width: 225%;
	  display: flex;
	  flex-direction: column;
	  align-items: flex-end;
	  justify-content: center;
	  margin-bottom: 0;
	  padding: rem-calc( 50px ) rem-calc( 50px ) rem-calc( 80px );
	  border-radius: rem-calc( 19px );
	  z-index: 1;
	  &::before {
		position: absolute;
		content: url("../images/svg/pfad_ps.svg");
		bottom: rem-calc( -102px );
		right: rem-calc( 100px );
	  }
	}
  }

  &__description, &__links_container {
	@include media-breakpoint-up( lg ) {
	  width: 50%;
	}
  }

  // slm & contacts
  &__contacts_list {
	li {
	  a {
		display: flex;
		align-items: center;
		img {
		  width: rem-calc( 18px );
		  margin-right: rem-calc( 5px );
		}
		span {
		  font-size: rem-calc( 14px );
		}
	  }
	}
	@include media-breakpoint-down( lg ) {
	  margin-bottom: rem-calc( 20px );
	}
  }


  &__contacts_list, &__sml_list {
	display: flex;
	flex-direction: column;
	@include media-breakpoint-up( lg ) {
	  flex-direction: row;
	  li:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: rem-calc( 10px );
	  }
	}
  }

  &__sml_list {
	flex-direction: row;

	li {
	  &:first-child{
		margin-right: rem-calc( 10px );
	  }
	  a {
		img {
		  width: rem-calc( 24px );
		}
	  }
	}
  }

  /* rsce_berlin__deco_container */
  &__deco_container {
	position: relative;
	height: rem-calc( 500px );
	margin-top: -240px;
	margin-bottom: 90px;

	figure {
	  height: 100%;
	  img {
		position: absolute;
		bottom: 0;
		right: rem-calc( 100px );
		height: rem-calc( 350px );
		z-index: 1;
	  }
	}
  }
  &__deco_image_container {
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(157,205,224,1) 100%);
  }

  &__questions_container {
	margin-bottom: rem-calc( 50px );
	background-color: #fff;
	@include media-breakpoint-up( lg ) {
	  margin-top: rem-calc( -90px );
	  margin-bottom: 0;
	  padding: rem-calc( 50px );
	  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
	  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
	  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
	}
  }

  &__questions_list {
	@include media-breakpoint-up( lg ) {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	}
	li {
	  margin-bottom: rem-calc( 50px );
	  @include media-breakpoint-up( lg ) {
		margin-bottom: rem-calc( 40px );
		&:last-child {
		  margin-bottom: 0;
		}
	  }
	}
  }

  &__questions_item_title_container {
	@include media-breakpoint-down( lg ) {
	  position: relative;
	  padding: rem-calc( 30px ) rem-calc( 70px ) rem-calc( 15px ) rem-calc( 10px );
	  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
	  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
	  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
	  cursor: pointer;
	  &::before {
		position: absolute;
		content: "";
		top: 50%;
		right: 16px;
		width: rem-calc( 42px );
		height: rem-calc( 42px );
		margin-top: rem-calc( -21px );
		border-radius: 50%;
		background-color: #F6F8F8;
	  }
	  &::after {
		position: absolute;
		content: "";
		top: 50%;
		right: 28px;
		width: 16px;
		height: 16px;
		margin-top: -10px;
		box-sizing: border-box;
		border-top: 4px solid #87bd27;
		border-right: 4px solid #87bd27;
		transform: rotate(135deg);
		transition-duration: 0.5s;
	  }

	}
  }

  &__questions_item_title {
	@include media-breakpoint-down( lg ) {
	  margin-bottom: 0;
	}
	margin-bottom: rem-calc( 20px );
	padding: 0 0 rem-calc(5px);
	font-size: rem-calc( 24px );
	font-family: "Roboto Slab", serif;
	color: $primaryColor;
	border-bottom: rem-calc( 3px ) solid $primaryColor;
  }

  &__questions_item_text {
	@include media-breakpoint-down( lg ) {
	  display: none;
	  padding: rem-calc( 30px ) rem-calc( 5px ) 0;
	}
  }

  &__education_container {
	@include media-breakpoint-up( lg ) {
	  position: relative;
	  margin-top: rem-calc( -50px );
	  z-index: -1;
	}
  }

  &__education_title_container {
	padding-top: rem-calc( 70px );
	padding-bottom: rem-calc( 20px );
	background: rgb(135,189,39);
	background: linear-gradient(90deg, rgba(135,189,39,1) 0%, rgba(0,163,33,1) 100%);
	h1,h2,h3,h4,h5,h6, {
	  font-family: "Roboto Slab", serif;
	  font-size: rem-calc( 22px );
	  color: #ffffff;
	  text-transform: uppercase;
	}
	@include media-breakpoint-up( lg ) {
	  padding-top: rem-calc( 150px );
	  padding-bottom: rem-calc( 40px );
	  h1,h2,h3,h4,h5,h6, {
		font-size: rem-calc( 32px );
	  }
	}
  }

  &__education_text_container {
	@include styled_list;
	padding: rem-calc( 45px ) 0;
	color: #707070;
	background-color: #F6F8F8;
	@include media-breakpoint-up( lg ) {
	  padding: rem-calc( 50px ) 0 rem-calc( 100px );
	}
  }
}