.rsce_bielefeld {

  &__container {
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(50px);
  }

  &__row {
    margin-bottom: rem-calc(30px);

    &--backgr {
      padding-top: rem-calc(20px);
      padding-bottom: rem-calc(20px);
      background-color: #EDF1F2;
    }
  }

  &__image_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(30px);
    }
  }

  &__description, &__extra_text {
    h1,h2,h3,h4,h5,h6 {
      margin-bottom: rem-calc(15px);
      font-family: "Roboto Slab", serif;
      font-size: 24px;
      font-weight: 300;
    }
  }

  &__extra_text {
    margin-bottom: rem-calc(30px);
  }

  &__button {
    margin-top: rem-calc(30px);
    margin-bottom: rem-calc(30px);
    @include content_button;
  }

  &__col {
    margin-bottom: rem-calc(20px);
  }

  &__gallery_item {
    width: 100%;
    figure {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}

.background {
  background-color: #EDF1F2;
}

.ul_styled {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: rem-calc(10px);
      padding-left: rem-calc(25px);
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        content: "";
        top: rem-calc(3px);
        left: 0;
        width: rem-calc(16px);
        height: rem-calc(16px);
        box-sizing: border-box;
        border: rem-calc(2px) solid rgba(98, 120, 128, 0.5);
      }

      &::after {
        position: absolute;
        content: "";
        top: -1px;
        left: 0;
        width: 20px;
        height: 12px;
        border-bottom: 2px solid $primaryColor;
        border-left: 2px solid $primaryColor;
        transform: rotate(-45deg);
      }
    }
  }
}

.txt_bcg {
  background-color: $primaryColor;
  padding: rem-calc(10px);
  color: #ffffff;
}

// BUBBLE //
.bubble_container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: rem-calc( 240px );
  height: rem-calc( 240px );

  margin: 0 auto 30px;
  padding: rem-calc(20px);

  text-align: center;

  background-color: #c4e08d;

  border: 5px solid $primaryGreen;
  border-radius: 50%;

  p {
    margin: 0;
    @include media-breakpoint-up( lg ) {
      font-size: rem-calc( 18px );
    }
  }

  @include media-breakpoint-up( lg ) {
    width: rem-calc( 330px );
    height: rem-calc( 330px );
    margin-bottom: 0;
    padding: 0 rem-calc( 30px );
  }
}

//test