.rsce_3col_gallery {
  margin-bottom: rem-calc( 50px );
  padding-top: rem-calc( 50px );
  padding-bottom: rem-calc( 30px );

  a {
	display: block;
	margin-bottom: rem-calc( 30px );
	box-sizing: border-box;
	border: rem-calc( 1px ) solid #E5E5E5;
	box-shadow: 0 0 1.2px rgba(0, 0, 0, 0), 0 0 2.7px rgba(0, 0, 0, 0), 0 0 4.6px rgba(0, 0, 0, 0), 0 0 6.9px rgba(0, 0, 0, 0), 0 0 10px rgba(0, 0, 0, 0), 0 0 14.2px rgba(0, 0, 0, 0), 0 0 20.1px rgba(0, 0, 0, 0.006), 0 0 29.2px rgba(0, 0, 0, 0.014), 0 0 45px rgba(0, 0, 0, 0.028), 0 0 80px rgba(0, 0, 0, 0.05);
  }
}