.rsce_bamberg {
  padding: rem-calc( 50px ) 0 rem-calc( 20px );
  background-color: $backgroundGray;

  &__col {
	margin-bottom: rem-calc( 30px );
  }
  &__item {
	@include card_shadow;
	position: relative;
	height: 100%;
	padding-bottom: rem-calc( 86px );
  }

  &__image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: rem-calc(280px);
	padding: rem-calc( 60px ) rem-calc( 80px );
  }

  &__title {
	font-family: "Roboto Slab", serif;
	font-size: rem-calc( 16px );
	color: $title_block;
  }

  &__description {
	padding: rem-calc( 20px );
  }

  &__link {
	@include content_button;
	position: absolute;
	bottom: rem-calc( 20px );
	left: rem-calc( 20px );
  }
}