.rsce_herford {
  &__col {
    margin-bottom: rem-calc(50px);
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
  &__text {
    @include media-breakpoint-up(lg) {
      padding: 0 20px;
    }
  }
  &__title {
    margin-bottom: rem-calc(3px);
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(20px);
    font-weight: 300;
    line-height: 1.2;
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(24px);
    }
    &_container {
      width: 250px;
      @include media-breakpoint-up(lg) {
        width: 280px;
      }
    }
  }
  &__role {
    margin-bottom: rem-calc(30px);
    font-family: "Roboto Slab", serif;
  }
  &__avatar_container {
    margin-right: rem-calc(20px);
    margin-bottom: rem-calc(20px);
  }
  &__avatar {
    width: rem-calc(75px);
    border-radius: 50%;
    box-shadow: $shadow;
  }
}