/********
** alt **
********/
.servicesWidget {
  margin-bottom: 70px;
  @include container-padding-top;
  @include container-padding-bottom;
  background: $primaryColorOpacity;


  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem-calc(100px);
    margin: 0 auto rem-calc(26px);
    img {
      width: 100px;
    }
  }



  p {
    margin-right: auto;
    margin-left: auto;
    max-width: rem-calc(450px);
  }
}

/********
** neu **
********/
.servicesWidget {
  background-color: rgba(76, 113, 126, 0.05);

  &__item {
    @include conteiner-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: rem-calc(50px);
    box-shadow: $shadow;
    background-color: $backgroundColor;
    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(20px);
    }

    &_text {
      margin-bottom: rem-calc(30px);
    }
  }

  &__link {
    @include content_button;
    align-self: center;
  }

  &__title {
    margin-bottom: rem-calc(10px);
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(22px);
    color: #627880;
    text-align: center;
  }
}