/********
** alt **
********/
.services {
  padding: 30px 0 30px 0;
  &__title {
    margin-bottom: rem-calc(20px);
    font-size: rem-calc(16px);
  }
  &__description {
    margin-bottom: rem-calc(50px);
  }

  &__card-title {
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(16px);
    color: $title_block;
    margin-bottom: rem-calc(10px);
  }

  &__widget-title {
    font-size: rem-calc(16px);
    text-transform: uppercase;
    margin-top: rem-calc(20px);
    margin-bottom: rem-calc(10px);
  }

  &__widget-description {
    margin-bottom: rem-calc(30px);
  }
}


/********
** neu **
********/
.services {
  &__homepage {
    .services__card-image-container {
      width: 75px;
    }
  }
  img {
    width: 100%;
  }

  &__col {
    margin-bottom: rem-calc(20px);
    &_wrapper {
      height: 100%;
    }
  }

  .title_styled {
    padding-left: rem-calc(25px);
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 2px solid rgba(98, 120, 128, 0.5);
    }

    &::after {
      position: absolute;
      content: "";
      top: -3px;
      left: 0;
      width: 20px;
      height: 12px;
      border-bottom: 2px solid $primaryColor;
      border-left: 2px solid $primaryColor;
      transform: rotate(-45deg);
    }
  }

  &__card {
    position: relative;
    height: 100%;
    padding: rem-calc(20px);
    box-shadow: $shadow;
    background-color: #ffffff;


    &-image {
      width: rem-calc(65px);
    }

    &-image-container {
      margin-bottom: 20px;
    }

    &-link {
      color: $linkColor;
      transition-duration: .3s;

      &:hover {
        color: $linkHoverColor;
        text-decoration: none;
        transition-duration: .3s;
      }
    }
  }
  &__card.has_button {
    padding: rem-calc(20px) rem-calc(20px) rem-calc(60px) rem-calc(20px);
  }

  &__card-button {
    @include content_button;
    position: absolute;
    bottom: rem-calc(20px)
  }

  &__form_button {
    @include content_button;
    position: absolute;
    bottom: rem-calc(20px)
  }

  // === FORM === //
  &__form_container {
    display: none;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-breakpoint-up( lg ) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    //display: none;
    .ce_form {
      position: relative;
      z-index: 1;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 30px;
      @include media-breakpoint-up( lg ) {
        padding: 50px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 45px;
      right: 0;
      border-style: solid;
      border-width: 50px 50px 0 50px;
      border-color: #ffffff transparent transparent transparent;
      line-height: 0px;
      transform: rotate( -45deg );
      @include media-breakpoint-up( lg ) {
        top: 100px;
        right: -35px;
        width: 0;
        height: 0;
        border-width: 100px 100px 0 100px;
        transform: rotate( 0 );
      }
    }

    .formbody {
      @include media-breakpoint-up( lg ) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        fieldset {
          width: calc( 50% - 20px );
        }
      }
      .workshop_form__title {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
        h2 {
          font-family: "Roboto Slab", serif;
          font-weight: 400;
          font-size: 28px;
          color: $dominantSecondary;
        }
      }
      div.workshop_form__input,
      div.workshop_form__textarea,
      div.workshop_form__select {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      label.workshop_form__input,
      label.workshop_form__select,
      label.workshop_form__textarea {
        margin-bottom: 3px;
        padding-left: 2px;
        color: $dominantSecondary;
      }
      input.workshop_form__input {
        padding: 5px 0 5px 10px;
        border: 1px solid $primaryGreen;
      }

      select.workshop_form__select {
        display: block;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em; width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid $primaryGreen;
        border-radius: 0;
        //box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        cursor: pointer;
        color: gray;

        &::-ms-expand { display: none; }
        &:hover { border-color: #888; }
        &:focus { border-color: #aaa;
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
          box-shadow: 0 0 0 3px -moz-mac-focusring;
          color: gray;
          outline: none;
        }

        & option {
          font-weight:normal;
          color: gray;
        }
        *[dir="rtl"] select.workshop_form__select, :root:lang(ar) select.workshop_form__select, :root:lang(iw) select.workshop_form__select {
          background-position: left .7em top 50%, 0 0;
          padding: .6em .8em .5em 1.4em;
        }
      }

      textarea {
        padding-left: 10px;
        border-color: $primaryGreen;
      }

      span.mandatory {
        color: red;
        margin-left: 3px;
      }

      button.workshop_form__button {
        position: relative;
        display: block;
        padding: rem-calc(10px) rem-calc(25px);
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition-duration: 0.7s;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #3AAA35;
          transition-duration: .7s;
          z-index: -1;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #87bd27;
          z-index: -2;
        }
        &:hover {
          &::before {
            width: 100%;
            transition-duration: .7s;
          }
        }
      }
    }
  }
}