/********
** alt **
********/
.slider-widget {

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 rem-calc(50px);
    background-color: $white;
    p strong {
      font-family: "Roboto Slab", serif;
    }
  }
  &__item-title {
    font-family: "Roboto Slab", serif;
    color: $title_block;
    font-size: rem-calc(16px);
    text-align: center;
    margin-bottom: rem-calc(20px);
  }
  &__item-icon {
    margin-bottom: rem-calc(15px);
  }
  &__item-description {
    text-align: center;
  }


  .swiper-container {
    width: 100%;
    padding-top: rem-calc(30px);
    padding-bottom: rem-calc(10px);
    .swiper-button-next,
    .swiper-button-prev {
      top: 93%!important;
      width: rem-calc(40px);
      height: rem-calc(40px);
      background-color: $white;
      border-radius: 50%;

      @include media-breakpoint-up(lg) {
        top: 85%!important;
      }
    }
    .swiper-button-next {
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    }
    .swiper-button-prev {
      box-shadow: -2px 2px 5px 0 rgba(0,0,0,0.5);
    }

    .swiper-button-next:after, .swiper-button-prev:after {
      content: ""!important;
      width: 20px;
      height: 20px;
      border-top: rem-calc(6px) solid $primaryColor;
      border-right: rem-calc(6px) solid $primaryColor;
      border-radius: rem-calc(3px);
    }
    .swiper-button-prev:after {
      transform: rotate(-135deg);
      margin-left: rem-calc(3px);
    }
    .swiper-button-next:after {
      transform: rotate(45deg);
      margin-right: rem-calc(3px);
    }
  }
}


/********
** neu **
********/
.slider-widget {

  &__container {
    margin: rem-calc(30px) 0 rem-calc(60px) 0;
  }

  &__title {
    @include h2-title;
    position: relative;
    width: fit-content;
    color: #1C323A;

    &::before {
      position: absolute;
      content: "";
      top: -30px;
      left: -50px;
      width: rem-calc(100px);
      height: rem-calc(100px);
      border: rem-calc(7px) solid rgba(135, 189, 39, 0.15);
      border-radius: 50%;
      background-color: rgba(76, 113, 126, 0.05);
      //border-right-color: transparent;
      z-index: -1;
    }
  }

  .swiper-container {
    background-color: #ffffff;
    @media all and  (max-width: 768px){
      padding-bottom: 0;
    }
  }

  .swiper-pagination {
    position: relative;
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);
  }

  .swiper-pagination-bullet-active {
    background: $linkColor;
  }
}

.referenzen__slider {
  .title_block {
    margin-bottom: 0;
  }
}

