.social_sticky {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 999999;

  @include media-breakpoint-down(md) {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: start;
  }

  &__close_button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $linkColor;
      transform: rotate(45deg);
      transition-duration: .3s;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $linkColor;
      transform: rotate(-45deg);
      transition-duration: .3s;
    }
    &:hover {
      &::before, &::after {
        background-color: $linkHoverColor;
        transition-duration: .3s;
      }
    }
  }
  .button {
    width: rem-calc(40px);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
  }
  &__container {
    display: none;
    padding: rem-calc(50px) rem-calc(20px);
    background-color: #ffffff;
    box-shadow: $shadow;
  }

  &__title {
    margin-bottom: rem-calc(20px);
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(22px);
    text-transform: uppercase;
    color: #707070;
  }

  &__contacts {
    margin: 0 0 rem-calc(30px) 0;
    padding: 0;
    list-style: none;
    border-bottom: rem-calc(1px) solid #B5B5B5;

    &_item {
      margin-bottom: rem-calc(10px);
    }

    &_link {
      display: flex;
      align-items: center;
      color: inherit;
      &:hover {
        color: inherit;
      }
    }

    &_icon {
      width: rem-calc(20px);
      margin-right: rem-calc(10px);
    }
  }

  &__description_container {
    margin-bottom: rem-calc(30px);
    padding-bottom: rem-calc(30px);
    border-bottom: rem-calc(1px) solid #B5B5B5;
    h3 {
      margin-bottom: rem-calc(20px);
      font-family: "Roboto Slab", serif;
      font-size: rem-calc(18px);
      text-transform: uppercase;
      color: #707070;
    }
  }

  &__link {
    @include content_button;
  }

  &__sm {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &_title {
      margin-bottom: rem-calc(20px);
      font-family: "Roboto Slab", serif;
      font-size: rem-calc(18px);
      text-transform: uppercase;
      color: #707070;
    }
    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(34px);
      height: rem-calc(34px);
      margin-right: rem-calc(10px);
      padding: rem-calc(5px);
      background-color: #B5B5B5;
      border-radius: rem-calc(5px);
      transition-duration: .3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: $primaryColor;
        transition-duration: .3s;
      }
      img {
        height: rem-calc(24px);
      }
    }
  }
}