.subpages-services {
  padding-top: rem-calc(50px);
  padding-bottom: rem-calc(50px);
  background-color: $backgroundOpacity;

  &__item {
    position: relative;
    margin-top: rem-calc(10px);
    padding-top: rem-calc(10px);
    padding-right: rem-calc(10px);
    padding-left: rem-calc(60px);
    padding-bottom: rem-calc(10px);
    background-color: $white;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      padding-left: rem-calc(80px);
    }
    &::before {
      position: absolute;
      content: "";
      top: rem-calc(5px);
      left: rem-calc(20px);
      width: rem-calc(30px);
      height: rem-calc(30px);
      border-radius: 50%;
      background-color: $primaryColor;
      @include media-breakpoint-up(md) {
        top: rem-calc(10px);
      }
    }
    &::after {
      position: absolute;
      content: "";
      left: 29px;
      top: rem-calc(13px);
      width: rem-calc(14px);
      height: rem-calc(14px);
      box-sizing: border-box;
      border-top: rem-calc(4px) solid $white;
      border-right: rem-calc(4px) solid $white;
      transform: rotate(45deg);
      transition-duration: .5s;
      @include media-breakpoint-up(md) {
        top: rem-calc(18px);
      }
    }
    &:hover {
      &::before {
        background-color: $gradientGreen;
        transition-duration: .5s;
      }
    }

    &-title {
      font-family: "Roboto Slab", serif;
      font-size: rem-calc(18px);
      color: $title_block;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(24px);
      }
    }
  }

  &__item.active {
    &::before {
      background-color: $gradientGreen;
      box-shadow: none;

    }
    &::after {
      left: 32px;
      transform: rotate(135deg);
      transition-duration: .5s;
    }
  }
  &__item-description {
    position: relative;
    display: none;
    padding-left: rem-calc(60px);
    padding-right: rem-calc(20px);
    padding-bottom: rem-calc(20px);
    background-color: $white;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: rem-calc(26px);
      width: rem-calc(18px);
      height: 100%;
      background-color: $gradientGreen;
    }

    @include media-breakpoint-up(md) {
      padding-left: rem-calc(80px);
    }
  }
}
