.sub-services {
  &__item {
    margin-bottom: rem-calc(30px);
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      margin-bottom: rem-calc(20px);
    }
  }
  &__icon {
    width: rem-calc(100px);
  }

  h2 {
    margin-bottom: rem-calc(20px);
    font-size: rem-calc(19px);
    color: $title_block;
    //text-transform: uppercase;
  }

  &__description {
    margin-bottom: rem-calc(20px);
  }
  &__button {
    @include button;
    width: fit-content;
    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }
}

.onlineMarketing-page {
  .sub-services {
    &__icon {
      box-shadow: none;
    }
  }
}