.subpages-gallery {
  padding-top: rem-calc(30px);
  padding-bottom: rem-calc(30px);
  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(50px);
  }
  background-color: $backgroundGray;
  .active {
      .subpages-gallery__container {
       display: flex;
    }
    .subpages-gallery__item {
      &::before, &::after {
        content: none;
      }
    }
  }

  .active__ms {
    .subpages-gallery__item {
      &::before, &::after {
        content: none;
      }
    }
  }

  &__item {
    position: relative;
    cursor: pointer;
    box-shadow: $shadow;
    &:hover,&:focus {
      .subpages-gallery__container {
      }
    }
     @media all and (max-width: 992px) and (pointer:coarse) {
       &::before {
         position: absolute;
         content: "";
         bottom: 0;
         left: 0;

         width: 100%;
         height: 50px;
         background-color: rgba(135, 189, 39, 0.7);
       }
       &::after {
         position: absolute;
         content: "";
         bottom: 10px;
         left: 20px;
         width: 20px;
         height: 20px;
         box-sizing: border-box;
         border-top: 3px solid #fff;
         border-right: 3px solid #fff;
         transform: rotate(-45deg);
       }
     }
  }

  &__container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76,113,126, .7);
  }

  &__icon {
    width: rem-calc(150px);
    margin-bottom: rem-calc(20px);
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__title {
    font-size: rem-calc(14px);
    font-weight: 500;
    color: $white;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: rem-calc(19px);
    }
  }

  &__description {
    margin-bottom: rem-calc(15px);
    padding: 0 rem-calc(10px);
    color: $white;
    text-align: center;
  }

  &__link {
    @include content_button;
  }
}
