.team-preview {
  padding-top: rem-calc(30px);
  padding-bottom: rem-calc(30px);
  background-color: rgba(76, 113, 126, 0.05);
  &__title {
    margin-bottom: rem-calc(30px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    @include media-breakpoint-down(lg) {
      margin-bottom: rem-calc(20px);
    }
    h4 {
      @include media-breakpoint-down(lg) {
        font-size: rem-calc(12px);
      }
      width: 100%;
      margin: 0;
      padding: rem-calc(5px) rem-calc(10px);
      font-size: rem-calc(16px);
      font-weight: 300;
      color: #ffffff;
      background-color: #627880;
      transition-duration: 0.3s;
    }
  }
  &__link {
    display: block;
    height: 100%;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
      h4 {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}