.team {
  padding-top: rem-calc(50px);
  padding-bottom: rem-calc(50px);

  &__title {
    margin-bottom: rem-calc(50px);
    @include h2-title;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: rem-calc(30px);
    padding-top: 220px;

    &--placeholder {
      padding-top: 0;

      .team__item-image--palceholder {
        width: rem-calc(180px);
        margin-bottom: rem-calc(15px);
      }
    }
    &-image {
      position: absolute;
      top: 0;
      width: rem-calc(180px);
      cursor: pointer;
    }

    &-image--hover {
      position: absolute;
      top: 0;
      z-index: -1;
      width: rem-calc(180px);
      cursor: pointer;
    }

    &-title {
      font-size: rem-calc(24px);
    }
    &-role {
      margin-bottom: rem-calc(5px);
      font-size: rem-calc(16px);
      text-align: center;
    }
    &-button {
      position: relative;
      width: rem-calc(40px);
      height: rem-calc(40px);
      border-radius: 50%;
      background: $primaryColor;
      box-shadow: 0 5px 10px -5px rgba(0,0,0,0.75);;
      border: none;
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        margin-top: rem-calc(-12px);
        margin-left: rem-calc(-10px);
        width: rem-calc(20px);
        height: rem-calc(20px);
        border-top: rem-calc(6px) solid $white;
        border-right: 6px solid $white;
        border-radius: rem-calc(3px);
        box-sizing: border-box;

        animation-name: team-point;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }

    &-button.active {
      animation-name: team-active;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      &::before {
        animation-name: team-active-point;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        //left: 0;
        margin-top: rem-calc(-9px);
        margin-left: rem-calc(-90px);
        width: rem-calc(180px);
        height: rem-calc(17px);

        background: $primaryColor;
        z-index: -1;
      }
    }
    &-description-container {
      display: none;
      padding-top: rem-calc(15px);
      text-align: center;
    }

    &-link {
      @include button;
    }
  }

  &__contacts {
    &-list {
      margin: 0 0 rem-calc(5px) 0;
      padding: 0;
      list-style: none;
    }

    &-icon {
      margin-right: rem-calc(5px);
      width: rem-calc(16px);
      height: rem-calc(16px);
    }

    &-link {
      color: $fontColor;
      font-weight: 300;
      text-decoration: none;
    }
  }
}