.teaser-widget {
  &__container {
    margin-bottom: rem-calc(10px);
  }

  &__text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem-calc(20px);
    background-color: $teaserWidget;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 30%;
      &--left {
        border-right: rem-calc(10px) solid $white;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          right: rem-calc(-59px);
          margin-top: rem-calc(-20px);
          border: rem-calc(30px) solid transparent;
          border-left: rem-calc(20px) solid $white;
        }
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          right: rem-calc(-49px);
          margin-top: rem-calc(-20px);
          border: rem-calc(30px) solid transparent;
          border-left: rem-calc(20px) solid $teaserWidget;
        }
      }
      &--right {
        border-left: rem-calc(10px) solid $white;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: rem-calc(-58px);
          margin-top: rem-calc(-20px);
          border: rem-calc(30px) solid transparent;
          border-right: rem-calc(20px) solid $white;
        }
        &::after {
          position: absolute;
          content: "";
          top: 50%;
          left: rem-calc(-49px);
          margin-top: rem-calc(-20px);
          border: rem-calc(30px) solid transparent;
          border-right: rem-calc(20px) solid $teaserWidget;
        }
      }
    }
  }

  &__image-container {
    max-height: 315px;
    @include media-breakpoint-up(lg) {
      width: 70%;
    }
  }

  &__title {
    margin-bottom: rem-calc(20px);
    font-family: "Roboto Slab", serif;
    font-size: rem-calc(24px);
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
  }

  &__description {
    color: $white;
  }

  &__button {
    @include content_button;
  }
}