.teaserContentWidget {
  padding-top: rem-calc(50px);
  padding-bottom: rem-calc(50px);
  //background-image: url("../images/header/header-block_image-dekstop@3x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #87bd27;
  background-position: center;

  &__title {
    @include h2-title;
    color: $white;
  }

  &__description {
    color: $white;
    margin-bottom: rem-calc(30px);
  }

  &__container {
    &-icon {
      display: block;
      margin: 0 auto rem-calc(20px) auto;
    }
    background-color: $white;
    padding: rem-calc(20px);
    margin-bottom: rem-calc(30px);
  }

  &__button {
    @include button;
    width: fit-content;
    border: 1px solid $white;
  }
}