.team-list {
  padding-bottom: rem-calc(50px);
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: rem-calc(100px);
    position: relative;
    &-container {
      height: 100%;
    }
  }

  &__image-container {
    margin-bottom: rem-calc(20px);
    //box-shadow: $shadow;
  }

  .team-list__item-role {
    margin-bottom: rem-calc(15px);
  }

  .team__contacts {
    margin-bottom: rem-calc(25px);

    &-description {
      margin-top: rem-calc(25px);
      margin-bottom: rem-calc(25px);

      a {
        color: $gradientGreen;
        transition-duration: 0.7s;
        &:hover {
          text-decoration: none;
          opacity: 0.5;
          transition-duration: 0.7s;
        }
      }
    }
  }

  &__link {
    @include content_button;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    bottom: 68px;
    box-shadow: none;
  }

}

.team-list {
  .team__contacts-description {
    p {
      margin-bottom: 0;
    }
  }

  .team__item-title {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
  }

  &__item-role {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
  }
}