.title_block {
  margin-bottom: rem-calc(30px);
  text-transform: uppercase;
  color: $title_block;
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: rem-calc(24px);
    }
    h2 {
      font-size: rem-calc(22px);
    }
    h3 {
      font-size: rem-calc(20px);
    }
  }

  @include media-breakpoint-up(md) {
    h2,h3,h1 {
      font-size: rem-calc(32px);
    }

    span {
      font-size: rem-calc(28px);
    }
  }
  h2,h3,h4 {
    margin-bottom: 0;
  }
  span {
    font-weight: 100;
  }
}

.team__item_page {
  .title_block {
    padding-top: rem-calc(100px);
    @include media-breakpoint-up(lg) {
      padding-top: rem-calc(150px);
    }
  }
}