body {
  height: 100vh;
  background-image: url("../../images/background/home_page_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body #container {
  height: calc( 100vh - 15em );
  margin: 0;
  padding-top: 15em;
  background-color: rgba(98, 120, 128, 0.2);
  background-image: url("../../images/logo/s-punkt-online_logo.svg");
  background-position-x: center;
  background-position-y: 100px;
  background-repeat: no-repeat;
  background-size: 200px;
}
body #main {
  background: none;
}
body .tl_login_form {
  border-radius: 10px;
  border: 5px solid #87bd27;
  background-color: #ffffff;
}

/*# sourceMappingURL=be_login.css.map */
