.checklisten_page {
  &__leser {
	.ce_form {

	  div.widget-radio {
		margin-bottom: 15px;
	  }
	  .radio_container {
		legend {
		  margin-bottom: 20px;
		  font-family: "Roboto Slab", serif;
		  font-size: 19px;
		  color: $title_block;
		  @include media-breakpoint-up( lg ) {
			font-size: 24px;
		  }
		}
		span {
		  margin-right: 30px;
		  label {
			text-transform: uppercase;
			font-weight: 700;
			color: $title_block;
		  }
		  input[type="radio"]:checked,
		  input[type="radio"]:not(:checked) {
			position: absolute;
			left: -9999px;
		  }

		  input[type="radio"]:checked + label,
		  input[type="radio"]:not(:checked) + label {
			display: inline-block;
			position: relative;
			padding-left: 40px;
			line-height: 30px;
			cursor: pointer;
		  }

		  input[type="radio"]:checked + label:before,
		  input[type="radio"]:not(:checked) + label:before {
			content: "";
			position: absolute;
			left: 0px;
			top: 0px;
			width: 30px;
			height: 30px;
			border: 2px solid $dominantSecondary;
			background-color: #ffffff;
		  }

		  input[type="radio"]:checked + label:before,
		  input[type="radio"]:not(:checked) + label:before {
			border-radius: 100%;
		  }

		  input[type="radio"]:checked + label:after,
		  input[type="radio"]:not(:checked) + label:after {
			content: "";
			position: absolute;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		  }

		  input[type="radio"]:checked + label:after {
			left: 5px;
			top: 5px;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			background-color: $primaryGreen;
		  }
		}
	  }
	  div.widget-explanation {
		margin-bottom: 20px;
		h1,h2,h3,h4,h5,h6 {
		  font-family: "Roboto Slab", serif;
		  font-size: 19px;
		  color: $title_block;
		  @include media-breakpoint-up( lg ) {
			font-size: 28px;
		  }
		}
	  }
	  div.widget-pagebreak {
		button {
		  position: relative;
		  padding: 10px;
		  background-color: $primaryGreen;
		  cursor: pointer;
		  color: #ffff;
		  text-transform: uppercase;
		  border: none;

		  &::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: $secondaryGreen;
			mix-blend-mode: multiply;
			opacity: 0.55;
			transition-duration: .7s;
		  }

		  &:hover {
			text-decoration: none;
			transition-duration: .7s;

			&::before {
			  width: 100%;
			  transition-duration: .7s;
			}
		  }
		}
	  }
	  div.widget-pagebreak.diff {
		button:first-child {
		  &::before {
			left: auto;
			right: 0;
		  }
		}
	  }

	  /* TEXTAREA */
	  div.widget-textarea {
		margin-bottom: 20px;
		textarea {
		  padding: 10px;
		  width: 100%;
		  border: 2px solid $dominantSecondary;
		  @include media-breakpoint-up( lg ) {
			width: 50%;
		  }
		}
	  }

	  /* Fieldset */
	  fieldset {
		margin-bottom: 10px;
		.widget-text {
		  display: flex;
		  flex-direction: column;
		  margin-bottom: 10px;
		  input {
			border: 2px solid $dominantSecondary;
			@include media-breakpoint-up( lg ) {
			  width: 50%;
			}
		  }
		  label {
			color: $dominantSecondary;
			text-transform: uppercase;
			span.mandatory {
			  color: red;
			  margin-left: 3px;
			}
		  }
		}
	  }

	  .form-anfrage__description {
		padding-left: 0;
	  }

	  /* Captcha */
	  .widget-captcha {
		margin-bottom: 30px;
		input {
		  margin-right: 10px;
		  border: 2px solid $dominantSecondary;
		}
		span.captcha_text {
		  text-transform: uppercase;
		}
	  }
	}
	.back_container {
	  padding-top: 100px;
	  p.back {
		@include back_button;
	  }
	}
  }
}