.job_page {
  &__list {
	.layout_short {
	  width: 100%;
	  margin-bottom: 30px;
	}
	justify-content: left;
	&_title {
	  @include big_link;
	}
  }

  /* leser */
  &__leser {
	p.back {
	  @include back_button;
	}
  }
}