.kooperationen-page {

  .sub-services {
    &__description {
      a {
        color: #3aaa35;
      }
    }
  }
  .sub-services__icon {
    width: rem-calc(280px);
    border: 1px solid #E5E5E5;
  }
}