.landingpage {
  .rsce_bielefeld__extra_text {
	p {
	  @include big_link;
	  margin-bottom: 30px;
	  &:last-child {
		margin-bottom: 0;
	  }
	}
  }
  .layout_simple {
	@include big_link;
	margin-bottom: 30px;
	&:last-child {
	  margin-bottom: 100px;
	}
  }

  .mod_newslist {
	@media all and (max-width: 767px) {
	  max-width: 540px;
	}
	@media all and (min-width: 768px) and (max-width: 991px) {
	  max-width: 730px;
	}
	@media all and (min-width: 992px) and (max-width: 1199px) {
	  max-width: 970px;
	}
  }
  .mod_eventlist {
	margin-bottom: 100px;
	padding: 0;
	background: 0;

	.layout_teaser {
	  width: 100%;
	  box-shadow: none;
	  h2 {
		@include big_link;
		a {
		  color: $linkColor;
		  transition-duration: .3s;
		  &:hover {
			color: $linkHoverColor;
			transition-duration: .3s;
		  }
		}
	  }
	}
  }

  #footer {
	.footer__description_title, .layout_teaser {
		display: none;
	}
  }

}