.marketing_abc {
  .layout_short {
	width: 100%;
	margin-bottom: 20px;
	h2 {
	  @include h2-title;
	  font-family: "Roboto Slab", serif;
	  margin-bottom: 10px;
	}
  }
  .news_category_7.category_7.news__categories-item.odd {
	display: none;
  }
}