.referenzen_page {

}

.referenzen__subpage_gallery {
  margin-bottom: rem-calc(30px);
  padding-top: rem-calc(30px);
  padding-bottom: rem-calc(14px);
  background-color: #F5ECD2;
  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(50px);
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(34px);
  }
}

.referenzen__subpage_ce_text {
  margin-bottom: rem-calc(30px);
  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(50px);
  }
  .image_container {
    margin-bottom: rem-calc(20px);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-left: rem-calc(20px);
    }
  }
}