body {
  color: $fontColor;
}

.ul,.h,.p {
  margin: 0;
  padding: 0;
}

.pt-10 {
  padding-top: rem-calc(10px)!important;
}
.pt-20 {
  padding-top: rem-calc(20px)!important;
}
.pt-30 {
  padding-top: rem-calc(30px)!important;
}
.pt-40 {
  padding-top: rem-calc(40px)!important;
}
.pt-50 {
  padding-top: rem-calc(50px)!important;
}
.pt-60 {
  padding-top: rem-calc(60px)!important;
}
.pt-70 {
  padding-top: rem-calc(70px)!important;
}
.pt-80 {
  padding-top: rem-calc(80px)!important;
}
.pt-90 {
  padding-top: rem-calc(90px)!important;
}
.pt-100 {
  padding-top: rem-calc(100px)!important;
}


//PADDING-RIGHT//
.pr-10 {
  padding-right: rem-calc(10px)!important;
}
.pr-20 {
  padding-right: rem-calc(20px)!important;
}
.pr-30 {
  padding-right: rem-calc(30px)!important;
}
.pr-40 {
  padding-right: rem-calc(40px)!important;
}
.pr-50 {
  padding-right: rem-calc(50px)!important;
}
.pr-60 {
  padding-right: rem-calc(60px)!important;
}
.pr-70 {
  padding-right: rem-calc(70px)!important;
}
.pr-80 {
  padding-right: rem-calc(80px)!important;
}
.pr-90 {
  padding-right: rem-calc(90px)!important;
}
.pr-100 {
  padding-right: rem-calc(100px)!important;
}


//PADDING-BOTTOM//
.pb-10 {
  padding-bottom: rem-calc(10px)!important;
}
.pb-20 {
  padding-bottom: rem-calc(20px)!important;
}
.pb-30 {
  padding-bottom: rem-calc(30px)!important;
}
.pb-40 {
  padding-bottom: rem-calc(40px)!important;
}
.pb-50 {
  padding-bottom: rem-calc(50px)!important;
}
.pb-60 {
  padding-bottom: rem-calc(60px)!important;
}
.pb-70 {
  padding-bottom: rem-calc(70px)!important;
}
.pb-80 {
  padding-bottom: rem-calc(80px)!important;
}
.pb-90 {
  padding-bottom: rem-calc(90px)!important;
}
.pb-100 {
  padding-bottom: rem-calc(100px)!important;
}

//PADDING-LEFT//
.pl-10 {
  padding-left: rem-calc(10px)!important;
}
.pl-20 {
  padding-left: rem-calc(20px)!important;
}
.pl-30 {
  padding-left: rem-calc(30px)!important;
}
.pl-40 {
  padding-left: rem-calc(40px)!important;
}
.pl-50 {
  padding-left: rem-calc(50px)!important;
}
.pl-60 {
  padding-left: rem-calc(60px)!important;
}
.pl-70 {
  padding-left: rem-calc(70px)!important;
}
.pl-80 {
  padding-left: rem-calc(80px)!important;
}
.pl-90 {
  padding-left: rem-calc(90px)!important;
}
.pl-100 {
  padding-left: rem-calc(100px)!important;
}


//BACKGROUND-COLORS//

.primaryBackground {
  background-color: $backgroundOpacity;
}