@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drop-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes team-active {
  0% {
    background: $primaryColor;
  }
  100% {
    background: $white;
  }
}

@keyframes team-point {
  0% {
    transform: rotate(135deg);
    border-color: $primaryColor;
  }
  100% {
    transform: rotate(-225deg);
    border-color: $white;
  }
}

@keyframes team-active-point {
  0% {
    transform: rotate(-225deg);
    border-color: $white;
  }

  100% {
    margin-top: rem-calc(-12px);
    border-color: $primaryColor;
    transform: rotate(135deg);
  }
}

@keyframes services-shadow {
  0% {

  }
  100% {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.33);
  }
}