@mixin logo-size {
  width: rem-calc(70px);
  height: rem-calc(20px);

  padding-top: rem-calc(13px);

  @media all and (min-width: 768px) {
    width: rem-calc(75px);
    height: rem-calc(25px);
  }

  @media all and (min-width: 992px) {
    width: rem-calc(105px);
    height: rem-calc(32px);
  }
}

@mixin footerContactsTitle {
  font-size: rem-calc(14px);
  font-weight: 700;
  color: $fontColor;
}


@mixin container-padding-top {
  padding-top: rem-calc(30px);
  @include media-breakpoint-up(md){
    padding-top: rem-calc(50px);
  }
}

@mixin  container-padding-bottom {
  padding-bottom: rem-calc(30px);
  @include media-breakpoint-up(md) {
    padding-bottom: rem-calc(50px);
  }
}

@mixin conteiner-padding {
  padding: rem-calc(20px);
}

@mixin h2-title {
  margin-bottom: rem-calc(20px);
  font-size: rem-calc(19px);
  color: $fontColor;
  text-transform: uppercase;
}

@mixin main-description {
  font-size: rem-calc(14px);
  color: $fontColor;
}

@mixin widget-title {
  color: $white;
  font-weight: 700;
  font-size: rem-calc(16px);
  text-transform: uppercase;
}

@mixin widget-description {
  font-size: rem-calc(14px);
  color: $white;
}

@mixin button {
  display: block;
  padding: rem-calc(10px) rem-calc(20px);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $primaryColor;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.33);
  border-radius: rem-calc(5px);
  cursor: pointer;
  transition-duration: 0.7s;

  &:hover {
    text-decoration: none;
    color: $fontColor;
    transform: scale(0.9);
    transition-duration: 0.7s;
  }
}