// Backgrounds colors:
$backgroundColor: #ffffff;
$backgroundGray: rgba(76,113,126,.05);
$secondaryColor: #1e71b8;
$dominant: #1c323a;
$gradientGreen: #3aaa35;
$gradientBlue: #004e9e;
$primaryColor: #87bd27;
$burgerColor: #4c717e;
$primaryColorOpacity: rgba(135, 189, 39, 0.1);
$teaserWidget: #627880;
$backgroundOpacity: rgba(76,113,126,.1);
// Font-colors:
$fontColor: #1C323A;
$titleColor: #1C323A;
$white: #ffffff;

//padding

$shadow: 0 5px 10px 0 rgba(0,0,0,.33);